@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root
{
	--clr-main: #F05FCD;
	--clr-main-gradient: linear-gradient(to right, #567AFA, #9F55FA, #F05FCD, #F15C81, #EE8843);
	/* --clr-main-gradient-title: linear-gradient(to right, #9F55FA, #F05FCD, #F15C81, #EE8843); */
	--clr-main-gradient-title: linear-gradient(to right, #9F55FA, #F05FCD, #F15C81, #F05FCD, #9F55FA);
	--clr-main-gradient-btn-1: var(--clr-main-gradient);
	--clr-main-gradient-btn-2: var(--clr-main-gradient);

	--clr-darkest: #0F0F13;
	--clr-dark: #141419;
	--clr-dark-panel: #14141966;
	--clr-dark-lighter: #1A1A20;

	--clr-dark-light: #212127;
	--clr-dark-light-tr-25: #21212744;

	--clr-white-tr-25: rgba(255, 255, 255, 0.25);
	--clr-white-tr-50: rgba(255, 255, 255, 0.5);
	--clr-white-tr-75: rgba(255, 255, 255, 0.75);
}

*, *::before, *::after
{
	transition: all 0.2s;
	/* cursor: none !important; */
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	pointer-events: none;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: white;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar
{
	width: 7px;
}

/* Track */
::-webkit-scrollbar-track
{
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb
{
	background: var(--clr-white-tr-25);
	border-radius: 3.5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover
{
	background: var(--clr-white-tr-50);
}

.absolute
{
	position: absolute;
}

.center-x
{
	left: 50%;
	transform: translateX(-50%);
}

.center-y
{
	top: 50%;
	transform: translateY(-50%);
}

.center-xy
{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.gray-gradient
{
	color: transparent;
	background: linear-gradient(to bottom right, white, rgb(64, 64, 64));
	background-clip: text;
}

.second-text
{
	color: var(--clr-white-tr-50);
}

.cursor
{
	position: fixed;
	width: 10px;
	height: 10px;
	border-radius: 100px;
	background-color: #fff;
	opacity: 0.75;
	left: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
	transition: width 0.2s, height 0.2s, opacity 0.2s;
	z-index: 10000;
}

.cursor-click
{
	width: 15px;
	height: 15px;
	opacity: 1;
}

.cursor-hover
{
	opacity: 0.5;
	mix-blend-mode: difference;
	transition: opacity 0.2s, opacity 0.2s;
}

.cursor-glow
{
	position: fixed;
	width: 40px;
	height: 40px;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 25px;
	background: var(--clr-main-gradient);
	filter: blur(20px);
	opacity: 0;
	transition: opacity 0.1s;
	mix-blend-mode: plus-lighter;
	z-index: 9999;
}

.tilt
{
	transition: all 0.2s, transform 0s;
}

.tilt:hover
{
	z-index: 1;
}

.loading
{
	position: fixed;
	width: 100svw;
	height: 100svh;
	background: black;
	z-index: 9000;
}

.loading-element
{
	width: 100px;
	height: 100px;
	aspect-ratio: 1;
	border: 10px solid black;
	background:
		radial-gradient(farthest-side, white 98%, #0000) top,
		radial-gradient(farthest-side, white 98%, #0000) top,
		radial-gradient(farthest-side, white 98%, #0000) bottom,
		radial-gradient(farthest-side, white 98%, #0000) left,
		radial-gradient(farthest-side, white 98%, #0000) right,
		radial-gradient(farthest-side, white 98%, #0000) bottom,
		black;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	filter: blur(6px) contrast(20);
	animation: loading-element-anim 2s infinite;
}

@keyframes loading-element-anim
{
	0%
	{
		background-position: top, bottom, top, left, right, bottom;
		transform: translate(-50%, -50%) scale(1);
	}

	25%
	{
		background-position: right, left, top, left, right, bottom;
		transform: translate(-50%, -50%) scale(1.25);
	}

	50%
	{
		background-position: bottom, top, top, left, right, bottom;
		transform: translate(-50%, -50%) scale(1);
	}

	75%
	{
		background-position: left, right, top, left, right, bottom;
		transform: translate(-50%, -50%) scale(1.25);
	}

	100%
	{
		background-position: top, bottom, top, left, right, bottom;
		transform: translate(-50%, -50%) scale(1);
	}
}

.noise-overlay
{
	position: fixed;
	inset: 0;
	mix-blend-mode: overlay;
	z-index: 50000;
	user-select: none;
	pointer-events: none;
}

.noise-overlay::before
{
	content: "";
	position: fixed;
	animation: noise 1.2s steps(3) both infinite;
	will-change: auto;
	background-image: url("../images/noise.jpg");
	background-size: 1024px;
	width: 200%;
	height: 200%;
	left: -50%;
	top: -50%;
	opacity: 0.15;
	user-select: none;
	pointer-events: none;
}

@keyframes noise
{
	0%
	{
		transform: translate3d(1%, -1%, 0);
	}

	10%
	{
		transform: translate3d(-5%, -2%, 0);
	}

	20%
	{
		transform: translate3d(10%, 5%, 0);
	}

	30%
	{
		transform: translate3d(5%, -11%, 0);
	}

	40%
	{
		transform: translate3d(-12%, -5%, 0);
	}

	50%
	{
		transform: translate3d(10%, 9%, 0);
	}

	60%
	{
		transform: translate3d(15%, 0, 0);
	}

	70%
	{
		transform: translate3d(-10%, 8%, 0);
	}

	80%
	{
		transform: translate3d(10%, 2%, 0);
	}

	90%
	{
		transform: translate3d(1%, 5%, 0);
	}

	to
	{
		transform: translate3d(1%, -1%, 0);
	}
}

html
{
	min-width: fit-content;
	height: 100%;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body
{
	position: relative;
	min-width: fit-content;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	background: var(--clr-darkest);
	overflow: clip;
}

.page
{
	width: 100%;
	height: 100%;
	visibility: hidden;
}

a
{
	pointer-events: all;
	text-decoration: none;
}

a:hover
{
	cursor: pointer;
}

h1
{
	font-size: 310%;
	font-weight: 700;
}

h3
{
	font-size: 310%;
	font-weight: 700;
}

h5
{
	font-size: 220%;
	font-weight: 700;
}

h6
{
	font-size: 125%;
	font-weight: 500;
}

/* .separator-line
{
	width: 50%;
	height: 2px;
	margin: 2rem auto;
	background-color: var(--clr-white-transparent-60);
} */

.btn-ripple
{
	overflow: clip;
}

.btn-ripple .ripple
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 0;
	height: 0;
	border-radius: 50%;
	background: var(--clr-white-tr-25);
	background-position: center;
	animation: ripple 1s;
	opacity: 0;
	pointer-events: none;
}

.text-button
{
	position: relative;
	width: fit-content;
	height: fit-content;
	padding: 1rem 1.5rem;
	border-radius: 1rem;
	text-align: center;
	font-weight: 600;
}

.text-button::before
{
	content: '';
	position: absolute;
	inset: 0;
	border-radius: inherit;
	transform: scale(0.95, 0.75);
}

.text-button:hover::before
{
	background: rgba(255, 255, 255, 0.1);
	transform: scale(1);
}

@media (max-width: 425px)
{
	.text-button
	{
		padding: 0.5rem 1rem;
		font-size: 80%;
	}
}

@keyframes ripple
{
	0%
	{
		opacity: 0;
	}
	15%
	{
		opacity: 1;
	}
	100%
	{
		opacity: 0;
		width: 200%;
		padding-bottom: 200%;
	}
}