:root
{
	--clr-main: #F05FCD;
	--clr-main-gradient: linear-gradient(to right, #567AFA, #9F55FA, #F05FCD, #F15C81, #EE8843);
	/* --clr-main-gradient-title: linear-gradient(to right, #9F55FA, #F05FCD, #F15C81, #EE8843); */
	--clr-main-gradient-title: linear-gradient(to right, #9F55FA, #F05FCD, #F15C81, #F05FCD, #9F55FA);
	--clr-main-gradient-btn-1: var(--clr-main-gradient);
	--clr-main-gradient-btn-2: var(--clr-main-gradient);

	--clr-darkest: #0F0F13;
	--clr-dark: #141419;
	--clr-dark-panel: #14141966;
	--clr-dark-lighter: #1A1A20;

	--clr-dark-light: #212127;
	--clr-dark-light-tr-25: #21212744;

	--clr-light: #EEE8F0;

	--clr-white-tr-25: rgba(255, 255, 255, 0.25);
	--clr-white-tr-50: rgba(255, 255, 255, 0.5);
	--clr-white-tr-75: rgba(255, 255, 255, 0.75);
}

*, *::before, *::after
{
	transition: all 0.2s;
	/* cursor: none !important; */
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	pointer-events: none;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: white;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar
{
	width: 7px;
}

/* Track */
::-webkit-scrollbar-track
{
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb
{
	background: var(--clr-white-tr-25);
	border-radius: 3.5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover
{
	background: var(--clr-white-tr-50);
}

.absolute
{
	position: absolute;
}

.center-x
{
	left: 50%;
	transform: translateX(-50%);
}

.center-y
{
	top: 50%;
	transform: translateY(-50%);
}

.center-xy
{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.gray-gradient
{
	color: transparent;
	background: linear-gradient(to bottom right, white, rgb(64, 64, 64));
	background-clip: text;
}

.second-text
{
	color: var(--clr-white-tr-50);
}

.cursor
{
	position: fixed;
	width: 10px;
	height: 10px;
	border-radius: 100px;
	background-color: #fff;
	opacity: 0.75;
	left: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
	transition: width 0.2s, height 0.2s, opacity 0.2s;
	z-index: 10000;
}

.cursor-click
{
	width: 15px;
	height: 15px;
	opacity: 1;
}

.cursor-hover
{
	opacity: 0.5;
	mix-blend-mode: difference;
	transition: opacity 0.2s, opacity 0.2s;
}

.cursor-glow
{
	position: fixed;
	width: 40px;
	height: 40px;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 25px;
	background: var(--clr-main-gradient);
	filter: blur(20px);
	opacity: 0;
	transition: opacity 0.1s;
	mix-blend-mode: plus-lighter;
	z-index: 9999;
}

/* .loading-container
{
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: var(--clr-dark);
	z-index: 5000;
}

.loading-container .anim-group
{
	position: absolute;
	width: 7rem;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

.loading-container .anim-group .load-circle
{
	position: absolute;
}

.loading-container .anim-group .load-circle:nth-child(1)
{
	left: 0;
	transform: translate(-50%, -50%);
	animation: load-circle-anim 0.75s cubic-bezier(0.76, 0, 0.24, 1) 0s infinite;
}

.loading-container .anim-group .load-circle:nth-child(2)
{
	left: 50%;
	transform: translate(-50%, -50%);
	animation: load-circle-anim 0.75s cubic-bezier(0.76, 0, 0.24, 1) 0.1s infinite;
}

.loading-container .anim-group .load-circle:nth-child(3)
{
	right: 0;
	transform: translate(50%, -50%);
	animation: load-circle-anim 0.75s cubic-bezier(0.76, 0, 0.24, 1) 0.2s infinite;
}

@keyframes load-circle-anim
{
	0%
	{
		width: 2rem;
		height: 2rem;
		border-radius: 0;
		box-shadow: inset 0 0 0 0.1rem transparent;
	}
	25%
	{
		width: 2rem;
		height: 2rem;
		border-radius: 1rem;
		box-shadow: inset 0 0 0 0.1rem #fff;
	}
	75%
	{
		width: 1rem;
		height: 1rem;
		border-radius: 0.5rem;
		box-shadow: inset 0 0 0 1rem #fff;
	}
	100%
	{
		width: 0;
		height: 0;
		box-shadow: inset 0 0 0 1rem transparent;
	}
} */

.noise-overlay
{
	position: fixed;
	inset: 0;
	mix-blend-mode: overlay;
	z-index: 50000;
	user-select: none;
	pointer-events: none;
}

.noise-overlay::before
{
	content: "";
	position: fixed;
	animation: noise 1.2s steps(3) both infinite;
	will-change: auto;
	background-image: url("../images/noise.jpg");
	background-size: 1024px;
	width: 200%;
	height: 200%;
	left: -50%;
	top: -50%;
	opacity: 0.15;
	user-select: none;
	pointer-events: none;
}

@keyframes noise
{
	0%
	{
		transform: translate3d(1%, -1%, 0);
	}

	10%
	{
		transform: translate3d(-5%, -2%, 0);
	}

	20%
	{
		transform: translate3d(10%, 5%, 0);
	}

	30%
	{
		transform: translate3d(5%, -11%, 0);
	}

	40%
	{
		transform: translate3d(-12%, -5%, 0);
	}

	50%
	{
		transform: translate3d(10%, 9%, 0);
	}

	60%
	{
		transform: translate3d(15%, 0, 0);
	}

	70%
	{
		transform: translate3d(-10%, 8%, 0);
	}

	80%
	{
		transform: translate3d(10%, 2%, 0);
	}

	90%
	{
		transform: translate3d(1%, 5%, 0);
	}

	to
	{
		transform: translate3d(1%, -1%, 0);
	}
}

html
{
	min-width: fit-content;
	height: 100%;
	margin: 0;
	padding: 0;
}

body
{
	position: relative;
	min-width: fit-content;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	background: var(--clr-darkest);
}

a
{
	pointer-events: all;
	text-decoration: none;
}

h1
{
	font-size: 310%;
	font-weight: 700;
}

h3
{
	font-size: 310%;
	font-weight: 700;
}

h5
{
	font-size: 220%;
	font-weight: 700;
}

h6
{
	font-size: 125%;
	font-weight: 500;
}

/* .separator-line
{
	width: 50%;
	height: 2px;
	margin: 2rem auto;
	background-color: var(--clr-white-transparent-60);
} */

/* .btn-ripple
{
	overflow: hidden;
}

.btn-ripple .ripple
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 0;
	height: 0;
	border-radius: 50%;
	background-color: var(--clr-white-transparent-60);
	background-position: center;
	animation: ripple 1s;
	opacity: 0;
	pointer-events: none;
}

@keyframes ripple
{
	0%
	{
		opacity: 0;
	}
	15%
	{
		opacity: 1;
	}
	100%
	{
		opacity: 0;
		width: 200%;
		padding-bottom: 200%;
	}
} */