/************
main-bg #141419
footer-bg #0F0F13
white-blue-light #EDEEF5
blue-light #008BFF
blue-dark #006DD9
navpages-item #5C5D63
scrolledNav #323339
******************************************/

/*	filter:
		drop-shadow(0 0 3px #006DD9)
		drop-shadow(0 0 5px #006DD990)
		drop-shadow(0 0 7px #006DD980)
		drop-shadow(0 0 10px #006DD970)
		drop-shadow(0 0 20px #006DD970)
		drop-shadow(0 0 10px #006DD980)
		drop-shadow(0 0 40px #006DD980);*/

* {
	transition: all 0.2s;
	cursor: none !important;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	pointer-events: none;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

.navbar .li {
	z-index: -5;
}

/*Scrollbar////////////////////////////*/
/* width */
::-webkit-scrollbar {
	width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #EDEEF520;
	border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #EDEEF580;
}

.cursor {
	position: fixed;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background-color: #ffffff;
	box-shadow: 0 0 1rem 0 #ffffff;
	opacity: 1;
	left: 0;
	transform: translate(-50%, -50%);
	pointer-events: none;
	z-index: 5000;
	transition: width 0.2s, height 0.2s;
}

.cursor-click {
	width: 20px;
	height: 20px;
}

.cursor-hover {
	width: 7px;
	height: 7px;
	opacity: 0.25;
	mix-blend-mode: difference;
	transition: opacity 0.2s;
}

.loading-container {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: #141419;
	z-index: 3000;
}

.loading-container .anim-group {
	position: absolute;
	width: 7rem;
	height: 5rem;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

.loading-container .anim-group .load-circle {
	position: absolute;
}

.loading-container .anim-group .load-circle:nth-child(1) {
	left: 0;
	transform: translate(-50%, -50%);
	animation: load-circle-anim 0.75s cubic-bezier(0.76, 0, 0.24, 1) 0s infinite;
}

.loading-container .anim-group .load-circle:nth-child(2) {
	left: 50%;
	transform: translate(-50%, -50%);
	animation: load-circle-anim 0.75s cubic-bezier(0.76, 0, 0.24, 1) 0.1s infinite;
}

.loading-container .anim-group .load-circle:nth-child(3) {
	right: 0;
	transform: translate(50%, -50%);
	animation: load-circle-anim 0.75s cubic-bezier(0.76, 0, 0.24, 1) 0.2s infinite;
}

@keyframes load-circle-anim {
	0% {
		width: 2rem;
		height: 2rem;
		border-radius: 1rem;
		box-shadow: inset 0 0 0 0.1rem #ffffff00;
	}
	25% {
		width: 2rem;
		height: 2rem;
		border-radius: -1rem;
		box-shadow: inset 0 0 0 0.1rem #fff;
	}
	75% {
		width: 1rem;
		height: 1rem;
		border-radius: 0.5rem;
		box-shadow: inset 0 0 0 1rem #fff;
	}
	100% {
		width: 0;
		height: 0;
		box-shadow: inset 0 0 0 1rem #ffffff00;
	}
}

html {
	/*width: calc(100vw - 17px);*/
	width: fit-content;
	height: fit-content;
	margin: 0;
	padding: 0;
}

.body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	/*font: 400 0.875rem/1.375rem "Montserrat", sans-serif;*/
	background-color: #141419;
	overflow: overlay;
}

a {
	pointer-events: all;
}

/*::selection {
	background-color: #006DD995;*/
	/*background: transparent;
	cursor: default;
	pointer-events: none;
}*/

.navbar {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	padding: 0;
	margin: 0;
	z-index: 1000;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}

.navbar img {
	max-height: 4.5rem;
	max-width: 50%;
	margin: 2rem 0 2rem 1rem;
}

.navpages {
	width: 17.5rem;
	padding: 0;
	margin: 1rem 5% 1rem 0;
	display: flex;
	flex-direction: row;
	justify-content: end;
	flex-wrap: wrap;
	align-items: center;
}

.navpages a {
	text-decoration: none;
}

.navpages p {
	margin: 0;
	color: #E8E9F0;
	font-weight: 700;
}

.navpages .navpages-item {
	position: relative;
	display: inline;
	margin: 0 0.5rem 0.5rem 0;
	padding: 0.4rem 0.75rem;
	background-color: transparent;
	border-radius: 0.55rem;
	cursor: pointer;
}

.navpages .navpages-current a {
	color: #fff;
}

.navbar .navpages .navpages-item:hover {
	background-color: #C5C6CC50;
	box-shadow: 0 0 1rem #00000020;
	margin: 0 0.25rem 0.5rem -0.25rem;
	padding: 0.5rem 1rem;
}

.navbar .navpages .navpages-item:hover a {
	color: #fff;
}

.navbar .top-announcement {
	height: 5rem;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #008BFFaa;
	flex-basis: 100%;
}

.navbar .top-announcement h6 {
	width: fit-content;
	height: fit-content;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

.navbar .top-announcement .top-announcement-button {
	position: absolute;
	right: 1rem;
	width: 2.5rem;
	height: 2.5rem;
	margin: 0 1rem 0 0;
	display: block;
	border: none;
	border-radius: 0.5rem;
	background: none;
	color: #fff;
	will-change: transform;
	pointer-events: all;
}

.navbar .top-announcement .top-announcement-button:hover {
	cursor: pointer;
	background-color: #ffffff50;
	box-shadow: 0 0 1rem #00000020;
	transform: scale(1.2);
	will-change: transform;
}

.navbar .top-announcement .top-announcement-button * {
	vertical-align: top;
	pointer-events: none;
}

.scrolledNav {
	box-shadow: 0 1rem 5rem 0 #00000050;
	background-color: #32333975;
	backdrop-filter: blur(25px);
}

.scrolledNav a {
	font-size: 0.5rem;
	font: 650 0.9rem/2rem "Montserrat", sans-serif;
}

.scrolledNav img {
	max-height: 3rem;
	margin: 1rem 0 1rem 1rem;
}

header {
	width: 100%;
	height: 100vh;
	padding: 0;
	margin: 0;
	background-size: cover;
}

.main-header {
	background: url('../images/header-background.png') center center no-repeat;
}

.games-header {
	background: url('../images/games-header-background.png') center center no-repeat;
}

.p404-temp {
	width: 100vw;
}

header .container {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	text-align: left;
	background: linear-gradient(to top, #141419, #ffffff00 30%);
	display: flex;
}

header .container-header {
	width: 50%;
	height: 50%;
	padding: 0;
	margin: auto;
}

header .container-header h1 {
	width: fit-content;
	padding: 0;
	margin: 0 auto 1rem 0;
	color: #fff;
	white-space: pre-line;
	font: 700 4rem/4rem "Montserrat", sans-serif;
	font-style: italic;
	position: relative;
}

header .container-header .main-title::before {
	width: 100%;
	height: 100%;
	content: 'EVERMEDIA\0aPROJECT';
	position: absolute;
	top: 0;
	color: #fff;
	mix-blend-mode: lighten;
	white-space: pre-line;
	overflow: hidden;
	left: -3px;
	text-shadow: -2px 0 red;
	animation-name: header-glitch-before;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: reverse-alternate;
}

header .container-header .main-title::after {
	width: 100%;
	height: 100%;
	content: 'EVERMEDIA\0aPROJECT';
	position: absolute;
	top: 0;
	color: #fff;
	mix-blend-mode: lighten;
	white-space: pre-line;
	overflow: hidden;
	left: 3px;
	text-shadow: 2px 0 blue;
	animation-name: header-glitch-after;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: reverse-alternate;
}

header .container-header .games-title::before {
	width: 100%;
	height: 100%;
	content: 'Our\0aGames';
	position: absolute;
	top: 0;
	color: #fff;
	mix-blend-mode: lighten;
	white-space: pre-line;
	overflow: hidden;
	left: -3px;
	text-shadow: -2px 0 red;
	animation-name: header-glitch-before;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: reverse-alternate;
}

header .container-header .games-title::after {
	width: 100%;
	height: 100%;
	content: 'Our\0aGames';
	position: absolute;
	top: 0;
	color: #fff;
	mix-blend-mode: lighten;
	white-space: pre-line;
	overflow: hidden;
	left: 3px;
	text-shadow: 2px 0 blue;
	animation-name: header-glitch-after;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: reverse-alternate;
}

header .container-header .p404-title::before {
	width: 100%;
	height: 100%;
	content: '404\0aPAGE NOT FOUND';
	position: absolute;
	top: 0;
	color: #fff;
	mix-blend-mode: lighten;
	white-space: pre-line;
	overflow: hidden;
	left: -3px;
	text-shadow: -2px 0 red;
	animation-name: header-glitch-before;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: reverse-alternate;
}

header .container-header .p404-title::after {
	width: 100%;
	height: 100%;
	content: '404\0aPAGE NOT FOUND';
	position: absolute;
	top: 0;
	color: #fff;
	mix-blend-mode: lighten;
	white-space: pre-line;
	overflow: hidden;
	left: 3px;
	text-shadow: 2px 0 blue;
	animation-name: header-glitch-after;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: reverse-alternate;
}

header .container-header .trirun-title::before {
	width: 100%;
	height: 100%;
	content: 'TriRun';
	position: absolute;
	top: 0;
	color: #fff;
	mix-blend-mode: lighten;
	white-space: pre-line;
	overflow: hidden;
	left: -3px;
	text-shadow: -2px 0 red;
	animation-name: header-glitch-before;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: reverse-alternate;
}

header .container-header .trirun-title::after {
	width: 100%;
	height: 100%;
	content: 'TriRun';
	position: absolute;
	top: 0;
	color: #fff;
	mix-blend-mode: lighten;
	white-space: pre-line;
	overflow: hidden;
	left: 3px;
	text-shadow: 2px 0 blue;
	animation-name: header-glitch-after;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: reverse-alternate;
}

@keyframes header-glitch-before {
	0% {
		clip: rect(62px, 550px, 129px, 0px);
	}
	5% {
		clip: rect(105px, 550px, 104px, 0px);
	}
	10% {
		clip: rect(97px, 550px, 104px, 0px);
	}
	15% {
		clip: rect(131px, 550px, 147px, 0px);
	}
	20% {
		clip: rect(110px, 550px, 83px, 0px);
	}
	25% {
		clip: rect(29px, 550px, 101px, 0px);
	}
	30% {
		clip: rect(97px, 550px, 158px, 0px);
	}
	35% {
		clip: rect(3px, 550px, 64px, 0px);
	}
	40% {
		clip: rect(35px, 550px, 5px, 0px);
	}
	45% {
		clip: rect(19px, 550px, 167px, 0px);
	}
	50% {
		clip: rect(32px, 550px, 104px, 0px);
	}
	55% {
		clip: rect(16px, 550px, 114px, 0px);
	}
	60% {
		clip: rect(104px, 550px, 168px, 0px);
	}
	65% {
		clip: rect(86px, 550px, 43px, 0px);
	}
	70% {
		clip: rect(139px, 550px, 33px, 0px);
	}
	75% {
		clip: rect(37px, 550px, 56px, 0px);
	}
	80% {
		clip: rect(128px, 550px, 15px, 0px);
	}
	85% {
		clip: rect(90px, 550px, 91px, 0px);
	}
	90% {
		clip: rect(75px, 550px, 10px, 0px);
	}
	95% {
		clip: rect(51px, 550px, 105px, 0px);
	}
	100% {
		clip: rect(123px, 550px, 168px, 0px);
	}
}
@keyframes header-glitch-after {
	0% {
		clip: rect(136px, 550px, 46px, 0px);
	}
	5% {
		clip: rect(149px, 550px, 87px, 0px);
	}
	10% {
		clip: rect(135px, 550px, 96px, 0px);
	}
	15% {
		clip: rect(74px, 550px, 161px, 0px);
	}
	20% {
		clip: rect(73px, 550px, 67px, 0px);
	}
	25% {
		clip: rect(125px, 550px, 119px, 0px);
	}
	30% {
		clip: rect(28px, 550px, 128px, 0px);
	}
	35% {
		clip: rect(84px, 550px, 149px, 0px);
	}
	40% {
		clip: rect(99px, 550px, 168px, 0px);
	}
	45% {
		clip: rect(35px, 550px, 90px, 0px);
	}
	50% {
		clip: rect(139px, 550px, 31px, 0px);
	}
	55% {
		clip: rect(71px, 550px, 110px, 0px);
	}
	60% {
		clip: rect(110px, 550px, 16px, 0px);
	}
	65% {
		clip: rect(66px, 550px, 3px, 0px);
	}
	70% {
		clip: rect(147px, 550px, 10px, 0px);
	}
	75% {
		clip: rect(10px, 550px, 106px, 0px);
	}
	80% {
		clip: rect(3px, 550px, 42px, 0px);
	}
	85% {
		clip: rect(145px, 550px, 40px, 0px);
	}
	90% {
		clip: rect(137px, 550px, 52px, 0px);
	}
	95% {
		clip: rect(143px, 550px, 20px, 0px);
	}
	100% {
		clip: rect(141px, 550px, 8px, 0px);
	}
}

header .container-header p {
	width: fit-content;
	margin: 0 auto 1rem 0;
	color: #EDEEF5;
	white-space: pre-line;
	font: 500 1.25rem/1.5rem "Montserrat", sans-serif;
	font-style: italic;
	position: relative;
}

header .container-header .header-buttons {
	width: fit-content;
	margin: 0 auto 0 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
}

header .btn-solid-fill {
	position: relative;
	display: block;
	margin: 0 1rem 1rem 0;
	padding: 1.25rem 2.25rem;
	border-radius: 0.5rem;
	background: none;
	box-sizing: border-box;
	backdrop-filter: blur(10px);
	box-shadow: #008BFF00 0px 1rem 25px -10px;
	color: #008BFF;
	white-space: pre;
	font: 700 0.85rem/0 "Montserrat", sans-serif;
	text-decoration: none;
	overflow: visible;
}

header .btn-solid-fill:hover {
	cursor: pointer;
	margin: -0.1rem 0.5rem 0 -0.5rem;
	padding: 1.35rem 2.75rem;
	border-radius: 0.7rem;
	background-color: #008BFF;
	box-shadow: #008BFF 0px 1rem 50px -10px;
	color: #fff;
}

header .btn-solid-fill:hover .btn-border{
	border-radius: 0.65rem;
	background-color: #008BFF;
	box-shadow: inset 0 0 0 1rem #008BFF;
	color: #fff;
	z-index: -1;
}

header .btn-solid-fill .btn-border {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	box-shadow: inset 0 0 0 0.125rem #008BFF;
	border-radius: 0.5rem;
	pointer-events: none;
	overflow: hidden;
}

footer {
	width: 100%;
	height: fit-content;
	padding: 0;
	margin: 0;
	background-color: #0F0F13;
}

footer h2 {
	margin: 0 0 1rem 0;
	font-style: italic;
}

footer p {
	margin: 0 0 1rem 0;
	color: #EDEEF5;
}

footer .blue {
	margin: 0 0 1rem 0;
}

footer .container {
	width: 100%;
	height: 100%;
	padding-top: 2rem;
	margin: 0;
	text-align: left;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-evenly;
}

footer .container-footer {
	margin: 0 0 1rem 0;
}

footer .footer-1 {
	flex-basis: 20%;
}

footer .footer-2 {
	flex-basis: 20%;
}

footer .footer-2 .flex-container {
	height: calc(3rem * 2 + 2rem);
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;
}

footer .footer-2 .flex-container a {
	height: 3rem;
	width: 3rem;
	margin: 0 1rem 1rem 0;
	display: block;
}

footer .footer-2 .flex-container img {
	height: 100%;
	width: 100%;
}

footer .footer-3 {
	flex-basis: 100%;
	margin: 0;
	text-align: center;
	padding-bottom: 1rem;
}

footer .footer-3 p {
	color: #EDEEF575;
	margin: 0;
}

footer .footer-3 .blue {
	color: #006DD9;
}

footer .footer-3 .blue:hover {
	color: #fff;
	text-shadow: 0 0 2rem #008BFF;
}

footer .footer-2 .extra-link-icon
{
	box-shadow: #FF000000 0px 1rem 25px -3px;
}

footer .footer-2 .extra-link-icon:nth-child(1):hover
{
	box-shadow: #FF0000 0px 1rem 50px -3px;
}

footer .footer-2 .extra-link-icon:nth-child(2):hover
{
	box-shadow: #5865F2 0px 1rem 50px -3px;
}

footer .footer-2 .extra-link-icon:nth-child(3):hover
{
	box-shadow: #26A5E4 0px 1rem 50px -3px;
}

footer .footer-2 .extra-link-icon:nth-child(4):hover
{
	box-shadow: #26A5E4 0px 1rem 50px -3px;
}

footer .footer-2 .extra-link-icon:nth-child(5):hover
{
	box-shadow: #0077FF 0px 1rem 50px -3px;
}

footer .footer-2 .extra-link-icon:hover
{
	z-index: 1;
}

.main-container-1 {
	margin: 0;
	padding: 1rem 0 1rem 0;
	width: 100%;
}

/*main page*/
.main-container-1 .container {
	width: 70%;
	padding: 2rem;
	margin: 0 auto 2rem auto;
	background-color: #1A1A20;
	box-shadow: 0 0 5rem #00000010;
	border-radius: 1rem;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	position: relative;
	overflow: hidden;
}

.slider_control {
	position: absolute;
	top: calc(50% - 20px);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	color: #fff;
	text-align: center;
	background: transparent;
	border: none;
	cursor: pointer;
	border-radius: 0.6rem;
	pointer-events: all;
}

.slider_control.prev {
	left: -3rem;
}

.slider_control.next {
	right: -3rem;
}

.slider_control:hover {
	color: #fff;
	text-decoration: none;
	background-color: #ffffff20;
	box-shadow: 0 0 1rem #00000020;
	width: 50px;
	height: 50px;
}

.slider_control.prev:hover {
	margin: -5px 0 0 -5px;
}

.slider_control.next:hover {
	margin: -5px -5px 0 0;
}

.main-container-1 .container .items-block {
	position: relative;
	width: fit-content;
	height: 15rem;
	margin: 0 2.5rem;
	padding: 0;
	pointer-events: all;
	z-index: 2;
}

.main-container-1 .container .items-block .slider-area {
	width: 13rem;
	height: 100%;
	margin: 0;
	padding: 0;
	border-radius: 0.75rem;
}

.main-container-1 .container .items-block .slider-item.inactive {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 1;
	pointer-events: none;
	transform: scale(0.75);
}

.main-container-1 .container .items-block .slider-item.active {
	position: relative;
	opacity: 1;
	z-index: 2;
}

.main-container-1 .container .items-block .slider-item {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 1px solid #323339;
	border-radius: 1rem;
	background-color: #1A1A2000;
	backdrop-filter: blur(10px);
	box-sizing: border-box;
	text-align: center;
	display: block;
	flex: 0 0 33.3333333333%;
	pointer-events: all;
	transition: all 0.3s;
}

.main-container-1 .container .items-block .slider-item:hover {
	border: 1px solid #323339;
	background-color: #323339;
	box-shadow: 0 0 2rem #00000010;
	text-align: center;
	display: block;
	cursor: pointer;
	padding: 1rem;
}

.main-container-1 .items-block .slider-item img {
	max-height: 70%;
	margin: 0 auto;
}

.main-container-1 .items-block .slider-item .item-text {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2.5rem;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #008BFF;
	box-shadow: #008BFF00 0px -1rem 25px -10px;
	box-sizing: border-box;
	text-align: center;
}

.main-container-1 .slider-item:hover .item-text {
	height: 5rem;
	box-shadow: #008BFF 0px -1rem 50px -10px;
}

.main-container-1 .items-block .slider-item p {
	width: fit-content;
	margin: 0 auto;
	display: block;
	white-space: pre-line;
	font-weight: 600;
	font-size: 90%;
}

.main-container-1 .container .text-block {
	width: 95%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-wrap: nowrap;
	align-self: flex-start;
	margin-left: 1rem;
}

.main-container-1 .container .text-block * {
	z-index: 2;
}

.main-container-1 .container .text-block .blue {
	width: fit-content;
	display: block;
	align-self: flex-end;
}

.main-container-1 .container .text-block h2 {
	margin: 0 0 1.5rem 0;
	color: #fff;
	font-style: italic;
}

.main-container-1 .container .text-block h5 {
	margin: 0 0 0.5rem 0;
	color: #fff;
}

.main-container-1 .container .text-block p {
	margin: 0 0 1rem 0;
	color: #EDEEF5;
}

.main-container-1 .overlay {
	position: absolute;
	top: 0;
	right: 0;
	transform: scaleX(-1.0) scaleY(-1.0);
	min-height: 100%;
	max-width: 50%;
	z-index: 0;
}

/*games page*/
.games-container {
	position: relative;
	width: 70%;
	padding: 2rem;
	margin: 0 auto 2rem auto;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	flex-wrap: nowrap;
	background-color: #1A1A20;
	box-shadow: 0 0 5rem #00000010;
	border-radius: 1rem;
	text-align: left;
	overflow: hidden;
}

.games-container .game {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 15rem;
	margin: 0 1.5rem 0 0;
	padding: 0;
	border-radius: 1rem;
	text-align: center;
	flex-basis: 40%;
	overflow: hidden;
	z-index: 2;
}

.games-container .game:hover {
	box-shadow: 0 0 2rem #00000010;
	background-size: 110% auto;
	cursor: pointer;
	margin: -0.5rem 1rem -0.5rem -0.5rem;
	padding: 0.5rem;
}

.games-container .game:hover .bg-image {
	transform: scale(1.1);
}

.games-container .game .bg-image {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	pointer-events: none;
	object-fit: cover;
	background-size: cover;
	z-index: -2;
}

.games-container .game:hover p {
	line-height: 2.75rem;
	will-change: transform;
}

.games-container .game:hover .material-icons {
	line-height: 2.75rem;
	will-change: transform;
}

.games-container .game .gradient {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 125%;
	height: 125%;
	margin: 0;
	padding: 0;
	pointer-events: none;
	background: linear-gradient(to top, #141419, #ffffff00 75%);
	z-index: -1;
}

.games-container .game p {
	color: #fff;
	display: block;
	flex-basis: 100%;
	align-self: center;
	text-align: center;
	margin: 0;
	white-space: pre-line;
	line-height: 2rem;
	background: linear-gradient(to right, #ffffff00, #008BFFbb, #ffffff00);
	will-change: transform;
}

.games-container .game .material-icons {
	color: #fff;
	vertical-align: top;
	line-height: 2rem;
	font-size: 1.75rem;
}

.games-container .text-block {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-wrap: nowrap;
	flex-basis: 60%;
}

.games-container .text-block * {
	z-index: 2;
}

.games-container .text-block h2 {
	margin: 0 0 1.5rem 0;
	font-style: italic;
}

.games-container .text-block h5 {
	margin: 0 0 0.5rem 0;
}

.games-container .text-block p {
	margin: 0 0 1rem 0;
	color: #EDEEF5;
}

.games-container .text-block .info {
	margin: 0 0 0.25rem 0;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}
.games-container .text-block .info-element:nth-child(1) {
	background-color: #fff;
	box-shadow: #fff 0px 5px 25px -7px;
}

.games-container .text-block .info-element:nth-child(2) {
	background-color: #fff;
	box-shadow: #fff 0px 5px 25px -7px;
}

.games-container .text-block .info-element {
	margin: 0 0.3rem 0.3rem 0;
	padding: 0.1rem 0.3rem;
	width: fit-content;
	border-radius: 0.3rem;
	color: #141419;
	font-weight: 600;
	pointer-events: all;
}

.games-container .text-block .info-element:hover {
	margin: -0.1rem 0.1rem 0.2rem -0.2rem;
	padding: 0.2rem 0.5rem;
	border-radius: 0.4rem;
}

/*main page*/
.main-container-2 {
	width: 100%;
	margin: 0;
	padding-bottom: 3rem;
	background: url('../images/header-background.png') center center no-repeat;
	background-size: cover;
}

.main-container-2 .container {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background: linear-gradient(to bottom, #141419, #ffffff00 30%);
	text-align: center;
}

.main-container-2 .in-container {
	width: 70%;
	margin: 0 auto 1rem auto;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
}

.main-container-2 h2 {
	margin-bottom: 1rem;
}

.main-container-2 p {
	margin-bottom: 1rem;
}

.main-container-2 a {
	position: relative;
	width: fit-content;
	padding: 0.75rem 1rem;
	border-radius: 0.75rem;
	color: #008BFF;
	cursor: pointer;
}

.main-container-2 a:hover {
	color: #fff;
	background-color: #5C5D6350;
	margin: -0.25rem 0 -0.25rem 0;
	padding: 1rem 1.75rem;
}

.blue {
	margin-bottom: 1rem;
	pointer-events: all;
	color: #006DD9;
}

.blue:hover {
	cursor: pointer;
	color: #fff;
	text-shadow: 0 0 2rem #008BFF;
}

.extra-link-icon {
	filter:
		saturate(0%)
		brightness(90%);
}

.extra-link-icon:hover {
	filter:
		saturate(100%)
		brightness(100%);
}

.extra-link-icon:hover img {
	transform: scale(1.25,1.25);
	will-change: transform;
}

/*docs*/
.docs-header {
	height: 20rem;
	background: linear-gradient(to bottom, #008BFF, #141419);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.docs-main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: nowrap;
}

.docs-container {
	width: 50%;
	color: #fff;
	text-align: justify;
	white-space: pre-wrap;
}

.docs-container p, ul, li {
	margin: 0;
}

.docs-container ul {
	text-indent: 0;
	list-style-position: outside;
}

.docs-container h5 {
	width: fit-content;
	margin: 0 auto;
	text-indent: 0;
}

/*end docs*/
.separator-line {
	width: 50%;
	height: 2px;
	margin: 2rem auto;
	background-color: #EDEEF590;
}

.btn-ripple {
	overflow: hidden;
}

.btn-ripple .ripple {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 0;
	height: 0;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.5);
	background-position: center;
	animation: ripple 1s;
	opacity: 0;
	pointer-events: none;
}

@keyframes ripple {
	0% {
		opacity: 0;
	}
	15% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		width: 200%;
		padding-bottom: 200%;
	}
}

h1 {
	color: #fff;
	font: 700 2.25rem/2.25rem "Montserrat", sans-serif;
	font-size: calc(18px + 18 * (100vw / 1920));
	line-height: calc(20px + 20 * (100vw / 1920));
}

h2 {
	color: #fff;
	font: 700 2rem/2rem "Montserrat", sans-serif;
	font-size: calc(16px + 16 * (100vw / 1920));
	line-height: calc(18px + 18 * (100vw / 1920));
}

h3 {
	color: #fff;
	font: 700 1.75rem/1.75rem "Montserrat", sans-serif;
	font-size: calc(14px + 14 * (100vw / 1920));
	line-height: calc(16px + 160 * (100vw / 1920));
}

h4 {
	color: #fff;
	font: 700 1.5rem/1.5rem "Montserrat", sans-serif;
	font-size: calc(12px + 12 * (100vw / 1920));
	line-height: calc(14px + 14 * (100vw / 1920));
}

h5 {
	color: #fff;
	font: 700 1.25rem/1.25rem "Montserrat", sans-serif;
	font-size: calc(10px + 10 * (100vw / 1920));
	line-height: calc(12px + 12 * (100vw / 1920));
}

h6 {
	color: #fff;
	font: 700 1rem/1rem "Montserrat", sans-serif;
	font-size: calc(8px + 8 * (100vw / 1920));
	line-height: calc(10px + 10 * (100vw / 1920));
}

p, ul, li {
	color: #fff;
	font: 400 1rem/1.5rem "Montserrat", sans-serif;
	font-size: calc(8px + 8 * (100vw / 1920));
	line-height: calc(10px + 10 * (100vw / 1920));
}

a {
	text-decoration: none;
	cursor: pointer;
	font: 500 1rem/1.5rem "Montserrat", sans-serif;
	font-size: calc(8px + 8 * (100vw / 1920));
	line-height: calc(10px + 10 * (100vw / 1920));
}

@media (min-width: 768px) {
	.navbar .navpages-expander {
		display: none;
	}

	.navpages-expanded {
		display: none;
	}
}

@media (max-width: 1024px) {
	header .container-header h1 {
		font-size: calc(18px + 18 * (100vw / 1920) * 4);
		line-height: calc(20px + 20 * (100vw / 1920) * 4);
	}

	header .container-header p {
		font-size: calc(8px + 8 * (100vw / 1920) * 2);
		line-height: calc(10px + 10 * (100vw / 1920) * 2);
	}

	header .btn-solid-fill {
		padding: calc(1.25rem * (100vw / 1920) * 2.5) calc(2.25rem * (100vw / 1920) * 5);
		font-size: calc(8px + 8 * (100vw / 1920));
	}

	.main-container-2 p {
		margin-bottom: 2rem;
	}

	.main-container-2 .blue {
		padding: 1rem;
		border-radius: 1rem;
	}

	.docs-container {
		width: 70%;
	}
}

@media (max-width: 960px) {
	.main-container-1 .text-block h2 {
		margin-bottom: 0.75rem;
	}

	.main-container-1 .items-block {
		grid-gap: 1.25rem;
		grid-template-rows: 14rem;
	}

	footer .footer-2 .flex-container {
		height: calc(2.5rem * 2 + 1rem);
	}

	footer .footer-2 .flex-container a {
		height: 2.5rem;
		width: 2.5rem;
		margin: 0 0.5rem 0.5rem 0;
	}
}

@media (max-width: 768px) {
	.main-container-1 .container {
		padding: 1rem;
	}

	.main-container-1 .text-block h2 {
		margin-bottom: 0.5rem;
	}

	.main-container-1 .items-block img {
		max-width: 80%;
	}

	.main-container-2 p {
		margin-bottom: 1.5rem;
	}

	.navbar .navpages {
		display: none;
	}

	.navbar .navpages-expander {
		display: block;
		width: 40px;
		height: 40px;
		margin: auto 1rem auto 0;
		border: none;
		background: url('../images/navbar-expander_100.png') center center no-repeat;
		background-size: cover;
		pointer-events: all;
	}

	.navbar .navpages-expanded {
		height: fit-content;
		padding: 0;
		margin: 0;
		display: inline-flex;
		flex-direction: column;
		justify-content: space-between;
		flex-wrap: nowrap;
		align-items: flex-end;
		text-align: right;
		flex-basis: 100%;
		overflow: hidden;
	}

	.navbar .navpages-expanded .navpages-item {
		display: inline;
		padding: 0.25rem 1rem;
		border-radius: 0.75rem;
		cursor: pointer;
	}

	.navbar .navpages-expanded .navpages-item:hover {
		background-color: #5C5D63;
	}

	.navbar .navpages-expanded .navpages-item:hover a {
		color: #fff;
	}

	.navbar .navpages-expanded .navpages-current a {
		color: #fff;
	}

	.docs-container {
		width: 90%;
	}

	footer .footer-2 .flex-container {
		height: calc(2.25rem * 2 + 1rem);
	}

	footer .footer-2 .flex-container a {
		height: 2.25rem;
		width: 2.25rem;
		margin: 0 0.5rem 0.5rem 0;
	}
}

@media (max-width: 668px) {
	.navbar .navpages-expander {
		width: 35px !important;
		height: 35px !important;
	}

	.main-container-1 .container {
		padding: 1rem;
		margin: 0 auto 2rem auto;
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
	}

	.main-container-1 .text-block h2 {
		margin-bottom: 0.3rem;
	}

	.main-container-1 .text-block p {
		margin-bottom: 0.3rem;
	}

	.games-container .text-block .info {
		margin-bottom: 0.3rem;
	}

	.main-container-1 .container .items-block {
		position: relative;
		width: fit-content;
		height: 10rem;
		margin: 0 2.5rem;
		padding: 0;
		pointer-events: all;
		z-index: 2;
	}

	.main-container-1 .items-block a {
		border-radius: 0.8rem;
	}

	.main-container-1 .items-block img {
		max-width: 80%;
	}

	.main-container-2 p {
		margin-bottom: 1.5rem;
	}

	.main-container-2 .blue {
		padding: 0.75rem;
		border-radius: 0.75rem;
	}

	/*games page*/
	.games-container {
		width: 85%;
		height: fit-content;
		display: block;
		padding: 1rem;
		flex-direction: column;
	}

	.games-container .game {
		margin: 0 0 1rem 0;
		width: 100%;
		height: 10rem;
	}

	.games-container .game:hover {
		box-shadow: 0 0 2rem #00000010;
		background-size: 110% auto;
		cursor: pointer;
		margin: -0.5rem 1rem 0.5rem -0.5rem;
		padding: 0.5rem;
	}
}

@media (max-width: 360px) {
	header .btn-solid-fill {
		padding: calc(0.05rem * (100vw / 1920)) calc(0.05rem * (100vw / 1920));
		font-size: calc(10px + 8 * (100vw / 1920));
	}

	.blue {
		font: 600 0.85rem/1.25rem "Montserrat", sans-serif !important;
	}

	.navbar .navpages-expander {
		width: 30px !important;
		height: 30px !important;
	}

	.main-container-1 .container {
		width: 85%;
	}

	.main-container-1 .items-block a {
		border-radius: 0.65rem;
	}

	.main-container-1 .items-block img {
		max-width: 90%;
	}

	.main-container-2 h2 {
		margin-bottom: 0.5rem;
	}

	.main-container-2 p {
		margin-bottom: 1rem;
	}

	.main-container-2 .blue {
		padding: 0.5rem;
		border-radius: 0.5rem;
	}

	footer .footer-2 .flex-container {
		height: calc(2rem * 2 + 1rem);
	}

	footer .footer-2 .flex-container a {
		height: 2rem;
		width: 2rem;
		margin: 0 0.5rem 0.5rem 0;
	}
}