.panel
{
	background: var(--clr-dark-panel);
	backdrop-filter: blur(16px);
	border-radius: 25px;
	box-shadow: 0 16px 64px -8px rgba(0, 0, 0, 0.25);
	border: 1px solid var(--clr-white-tr-25);
}

.button
{
	position: relative;
	width: 230px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	border-radius: 20px;
	color: transparent;
	background: var(--clr-main-gradient-btn-1);
	background-clip: text;
	font-weight: 700;
	font-size: 130%;
}

.button::before
{
	content: '';
	position: absolute;
	inset: 0;
	border-radius: inherit;
	background: var(--clr-main-gradient-btn-2);
	z-index: -1;
}

.button::after
{
	content: '';
	position: absolute;
	inset: 3px;
	border-radius: 17px;
	background: var(--clr-dark-lighter);
	z-index: -1;
}

.button:hover
{
	--clr-main-gradient-btn-1: linear-gradient(to right, white, white);
}

.button:hover::before
{
	box-shadow: 0 0 0 3px var(--clr-white-tr-50) inset;
}

.button:hover::after
{
	opacity: 0.5;
}

.button:active
{
	--clr-main-gradient-btn-1: linear-gradient(to right, var(--clr-dark-lighter), var(--clr-dark-lighter));
	--clr-main-gradient-btn-2: linear-gradient(to right, white, white);
}

.button:active::after
{
	opacity: 0;
}

.button .button-blur
{
	position: absolute;
	inset: 15px 0 -15px 0;
	border-radius: inherit;
	background: var(--clr-main-gradient-btn-2);
	filter: blur(20px);
	opacity: 0;
	z-index: -2;
}

.button:hover .button-blur
{
	filter: blur(40px);
	opacity: 0.5;
}

.button:active .button-blur
{
	filter: blur(40px);
	opacity: 0.5;
}

.blobs
{
	position: absolute;
	width: 100%;
	height: 100%;
	inset: 0;
	overflow: hidden;
}

.blob1
{
	position: relative;
	inset: -100vh 0 0 -35vw;
	width: 90vw;
	height: 70vh;
	border-radius: 500px;
	background: white;
	filter: blur(300px);
	transform: rotate(45deg);
}

.blob2
{
	position: relative;
	inset: 100vh 0 0 90vw;
	width: 110vw;
	height: 80vh;
	border-radius: 50vw;
	background: white;
	filter: blur(400px);
	transform: rotate(45deg);
}

.main-container
{
	position: relative;
	width: 100%;
	height: 100svh;
}

.sub-main-container
{
	position: relative;
	width: 100%;
	height: fit-content;
}

/* TOP HEADER */
.top-header
{
	position: fixed;
	top: 50px;
	width: 430px;
	height: 65px;
	padding: 0 35px 0 35px;
	z-index: 1000;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
}

.top-header-logo
{
	width: 30px;
	height: 45px;
	opacity: 0.75;
	object-fit: contain;
	pointer-events: all;
}

.top-header-logo:hover
{
	opacity: 0.9;
	pointer-events: all;
}

.top-header-link
{
	text-align: center;
	line-height: 40px;
	border: 1px solid transparent;
	border-radius: 13px;
	color: var(--clr-white-tr-50);
	font-size: 100%;
	font-weight: 400;
}

.support-heart-beat
{
	animation: support-heart-beat 1s linear infinite;
}

@keyframes support-heart-beat
{
	0%
	{
		transform: scale(1);
		opacity: 0.85;
		filter: brightness(0.85);
	}

	3%
	{
		transform: scale(1.15);
		opacity: 1;
		filter: brightness(1.75);
	}

	100%
	{
		transform: scale(1);
		opacity: 0.85;
		filter: brightness(0.85);
	}
}

.top-header-link:hover
{
	color: var(--clr-white-tr-75);
}

.top-header-link:active
{
	color: white;
}

/* HEADER */
.header
{
	width: max-content;
	height: max-content;
	/* margin: 35svh auto 0; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: nowrap;
}

.header-tip
{
	position: relative;
	margin: 0 0 40px 0;
	padding: 9px 20px;
	color: transparent;
	background: var(--clr-main-gradient);
	background-clip: text;
	text-align: center;
	font-weight: 600;
	opacity: 0.85;
}

.header-tip::before
{
	content: '';
	position: absolute;
	inset: 0;
	border: 1px solid var(--clr-main);
	border-radius: 1000px;
	filter: saturate(0.75);
	opacity: 0.5;
}

.header-tip:hover
{
	opacity: 0.95;
}

.header-tip:hover::before
{
	opacity: 0.6;
}

.header-tip-image
{
	position: relative;
	width: 8rem;
	height: 8rem;
	margin: 0 0 40px 0;
	padding: 3px;
	border-radius: 4rem;
	background: var(--clr-main-gradient);
	opacity: 0.85;
	overflow: clip;
	transition: all 0.2s, transform 2s cubic-bezier(0.1, 1, 0.3, 1);
}

.header-tip-image img
{
	position: relative;
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: inherit;
	opacity: 0.9;
}

.header-tip-image:hover
{
	transform: scale(1.05);
	transition: all 0.2s, transform 1.5s cubic-bezier(0.1, 1, 0.3, 1);
}

.header-tip-image:active
{
	transform: scale(0.75);
	transition: all 0.2s, transform 3s cubic-bezier(0.1, 1, 0.3, 1);
}

.header-title
{
	margin: 0 0 40px 0;
	text-align: center;
	font-size: 470%;
	font-weight: 700;
}

.header-title *
{
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
	background: inherit;
}

@keyframes header-title-gradient-anim
{
	from
	{
		background-position: 0% center;
	}

	to
	{
		background-position: -200% center;
	}
}

.header-title-changing
{
	display: inline-flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	overflow-y: clip;
}

.header-title-changing, .header-title-changing span
{
	color: transparent;
	background: var(--clr-main-gradient-title);
	background-clip: text;
	background-size: 200%;
	animation: header-title-gradient-anim 5s linear infinite;
}

.header-title-changing span
{
	position: relative;
	width: fit-content;
}

.header-title-changing span div
{
	position: relative;
	width: fit-content;
	height: fit-content;
	margin: 0;
	padding: 0;
}

.header-text
{
	max-width: 90vw;
	text-align: center;
	margin: 0 0 45px 0;
	color: var(--clr-white-tr-50);
	font-size: 155%;
}

.header-arrows
{
	bottom: 50px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}

.header-arrows span
{
	width: fit-content;
	height: fit-content;
}

.header-arrows img
{
	object-fit: contain;
}

.header-arrow-1
{
	opacity: 0.25;
	transform: scale(0.5);
}

.header-arrow-2
{
	opacity: 0.5;
	transform: scale(0.7);
}

.header-arrow-3
{
	opacity: 0.75;
	transform: scale(0.9);
}

.header-arrows span:nth-child(1)
{
	animation: header-arrow-anim 2s ease-in-out 0s infinite normal none;
}

.header-arrows span:nth-child(2)
{
	animation: header-arrow-anim 2s ease-in-out 0.25s infinite normal none;
}

.header-arrows span:nth-child(3)
{
	animation: header-arrow-anim 2s ease-in-out 0.5s infinite normal none;
}

@keyframes header-arrow-anim
{
	0%
	{
		transform: translateY(0);
	}

	50%
	{
		transform: translateY(-75%);
	}

	100%
	{
		transform: translateY(0);
	}
}

/* CONTENT */
.content
{
	width: fit-content;
	height: fit-content;
	margin: 0 auto;
	padding: 160px 0 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: nowrap;
}

.content-title
{
	max-width: 90vw;
	margin: 0 0 0.5rem 0;
	text-align: center;
}

.content-text
{
	max-width: 90vw;
	margin: 0 0 5rem 0;
	color: var(--clr-white-tr-50);
	text-align: center;
}

.bento-container
{
	display: grid;
	grid-template-columns: repeat(6, 12vw);
	gap: 20px;
	grid-auto-rows: minmax(200px, auto);
}

.bento-card
{
	width: 100%;
	height: 100%;
	backdrop-filter: none !important;
	overflow: visible !important;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform: perspective(500px);
}

.bento-card span
{
	width: 100%;
	height: 100%;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-end;
	transform: translateZ(35px) scale(0.95);
}

.bento-card:nth-child(1)
{
	grid-column: 1 / 3;
}

.bento-card:nth-child(2)
{
	grid-column: 3 / 5;
}

.bento-card:nth-child(3)
{
	grid-column: 5 / 7;
}

.bento-card:nth-child(4)
{
	grid-column: 3 / 5;
}

.bento-card-image
{
	position: absolute;
	inset: 0 0 0 auto;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	object-fit: cover;
	object-position: center center;
	opacity: 0.85;
	-webkit-mask-image:
		-webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 1)));
		mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25) 40%, rgba(0, 0, 0, 1));
	z-index: -1;
}

.bento-card-title
{
	margin-bottom: 5px;
}

.footer
{
	width: 100%;
	height: fit-content;
	margin-top: 2rem;
	padding-bottom: 2rem;
	border-radius: 0 !important;
	border: none;
	border-top: 1px solid var(--clr-white-tr-25);
	box-shadow: none;
}

.footer-1
{
	width: 80%;
	height: fit-content;
	margin: 3rem auto 4rem auto;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: space-between;
}

.footer-logo
{
	width: 15vw;
	object-fit: contain;
}

.footer-1-inner
{
	width: 60%;
	height: fit-content;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.footer-1-inner-block-title
{
	margin-bottom: 1.25rem;
	opacity: 0.25;
	font-size: 80%;
}

.footer-1-inner-block-item
{
	display: block;
	margin-bottom: 0.5rem;
	font-weight: 500;
}

.footer-1-inner-block-item:hover
{
	color: var(--clr-white-tr-75);
}

.footer-1-inner-block-item:active
{
	color: white;
}

.footer-1-inner-block-rowcontainer
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;
}

.footer-1-inner-block-rowcontainer-item
{
	width: 3rem;
	height: 3rem;
	display: block;
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
	filter: saturate(0);
	transition: all 0.2s, filter 0.4s;
}

.footer-1-inner-block-rowcontainer-item:hover
{
	transform: scale(1.1);
	filter: saturate(1);
	transition: all 0.2s, filter 0.4s;
}

.footer-1-inner-block-rowcontainer-item:active
{
	transform: scale(0.75);
	transition: all 0.2s, filter 0.4s, transform 1s cubic-bezier(0.33, 1, 0.68, 1);
}

.footer-1-inner-block-rowcontainer-item:last-child
{
	margin-right: 0;
}

.footer-1-inner-block-rowcontainer-item img
{
	width: 100%;
	height: 100%;
}

.footer-1-inner-block-rowcontainer-item img:nth-child(2)
{
	position: absolute;
	inset: 20px 0 -20px 0;
	z-index: -1;
	filter: blur(15px);
	opacity: 0;
}

.footer-1-inner-block-rowcontainer-item:hover img:nth-child(2)
{
	opacity: 0.25;
}

.footer-2
{
	width: fit-content;
	height: fit-content;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
}

.footer-2-copyright
{
	margin-bottom: 0.25rem;
}

.footer-2-copyright *
{
	color: inherit;
	font-size: inherit;
}

.footer-2-email
{
	color: var(--clr-white-tr-75);
	font-weight: 600;
}

.footer-2-email:hover
{
	color: white;
}

.footer-2-email:active
{
	color: var(--clr-white-tr-50);
}

.footer a:hover
{
	cursor: pointer;
}

/* RESPONSIBILITY MEDIA QUERIES */
@media (max-width: 1024px)
{
	h1
	{
		font-size: 35px;
	}

	h3
	{
		font-size: 32px;
	}

	h5
	{
		font-size: 25px;
	}

	h6, p
	{
		font-size: 14px;
	}

	.bento-card span
	{
		padding: 1.5rem;
	}

	.footer-1
	{
		margin-top: 2rem;
		margin-bottom: 3rem;
		width: 90%;
	}

	.footer-1-inner
	{
		width: 70%;
	}

	.footer-logo
	{
		width: 18vw;
	}
	
	.footer-1-inner-block-title
	{
		margin-bottom: 1rem;
		font-size: 75%;
	}

	.footer-1-inner-block-item
	{
		font-size: 90%;
	}

	.footer-1-inner-block-rowcontainer-item
	{
		width: 2.75rem;
		height: 2.75rem;
	}
}

@media (max-width: 768px)
{
	.blob1
	{
		inset: -80vh 0 0 -30vw;
	}

	h1
	{
		font-size: 33px;
	}

	h3
	{
		font-size: 30px;
	}

	h5
	{
		font-size: 25px;
	}

	h6, p
	{
		font-size: 14px;
	}

	.header-title
	{
		font-size: 8vw;
	}

	.header-text
	{
		font-size: 4vw;
	}

	.button
	{
		width: 200px;
		height: 55px;
		line-height: 55px;
		font-size: 120%;
	}

	.bento-card span
	{
		padding: 1.5rem;
	}

	.bento-card:nth-child(1)
	{
		grid-column: 1 / 4;
	}
	
	.bento-card:nth-child(2)
	{
		grid-column: 4 / 7;
	}
	
	.bento-card:nth-child(3)
	{
		grid-column: 1 / 4;
	}
	
	.bento-card:nth-child(4)
	{
		grid-column: 4 / 7;
	}

	.footer-1
	{
		margin-bottom: 2rem;
	}

	.footer p, .footer a
	{
		font-size: 75%;
	}
	
	.footer-1-inner-block-title
	{
		margin-bottom: 0.75rem;
		font-size: 60% !important;
	}

	.footer-1-inner-block-item
	{
		margin-bottom: 0.35rem;
	}

	.footer-1-inner-block-rowcontainer-item
	{
		width: 2rem;
		height: 2rem;
	}
}

@media (max-width: 640px)
{
	.footer-1
	{
		margin-top: 2rem;
		width: 95%;
	}

	.footer-1-inner
	{
		width: 75%;
	}
	
	.footer-1-inner-block-title
	{
		margin-bottom: 0.75rem;
		font-size: 55%;
	}

	.footer-1-inner-block-item
	{
		font-size: 65%;
		margin-bottom: 0.35rem;
	}

	.footer-1-inner-block-rowcontainer
	{
		max-width: 6rem;
	}

	.footer-1-inner-block-rowcontainer-item
	{
		width: 2rem;
		height: 2rem;
		margin-right: 0.25rem;
		margin-bottom: 0.25rem;
	}
}

@media (max-width: 425px)
{
	.blob1
	{
		inset: -50vh 0 0 -25vw;
	}

	h1
	{
		font-size: 32px;
	}

	h3
	{
		font-size: 26px;
	}

	h5
	{
		font-size: 19px;
	}

	h6, p
	{
		font-size: 12px;
	}

	.button
	{
		width: 190px;
		height: 50px;
		line-height: 50px;
		font-size: 110%;
	}

	.top-header
	{
		width: 350px;
	}

	.top-header-link
	{
		font-size: 90%;
	}

	.header-tip-image
	{
		width: 6rem;
		height: 6rem;
	}

	.bento-container
	{
		gap: 15px;
	}

	.bento-card span
	{
		padding: 1rem;
	}

	.footer-logo
	{
		display: none;
	}

	.footer-1-inner
	{
		width: 100%;
		padding: 0 1rem;
	}
}

@media (max-width: 375px)
{
	.panel
	{
		border-radius: 20px;
	}

	.top-header
	{
		top: 40px;
		width: 300px;
		height: 55px;
		padding: 0 20px 0 20px;
	}

	.top-header-logo
	{
		width: 20px;
		height: 30px;
	}

	.top-header-link
	{
		line-height: 40px;
		font-size: 75%;
	}
	

	.footer-1-inner-block-item
	{
		font-size: 60%;
	}
}