/*****************************************
Table Of Contents:

01. General Styles
02. Preloader
03. Navigation
04. Header
05. Features
******************************************/

/*****************************************
Colors:

- Text - #EDEEF5   #E8E9F0
- Navbar links
- Backgrounds - linear-gradient(45deg, #008BFF, #008BFF);
- Navbar - #006DD9
- Backgrounds - #0F0F0F
- Backgrounds - #212121

#008BFF
#006DD9
#008BFF
#006DD9
#0F0F0F
#212121
******************************************/

/******************************/
/*	 01. General Styles	 */
/******************************/
body,
html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body, p {
	color: #EDEEF5; 
	font: 400 0.875rem/1.375rem "Open Sans", sans-serif;
}

.p-large {
	color: #EDEEF5;
	font: 400 1rem/1.5rem "Open Sans", sans-serif;
}

.p-small {
	color: #EDEEF5;
	font: 400 0.75rem/1.25rem "Open Sans", sans-serif;
}

.p-heading {
	margin-bottom: 3.75rem;
	text-align: center;
}

.li-space-lg li {
	margin-bottom: 0.375rem;
}

.indent {
	padding-left: 1.25rem;
}

a.blue {
	transition: all 0.2s;
	margin-left: 0.5rem;
}

a.blue:hover {
	filter:
		drop-shadow(0 0 3px #006DD9)
		drop-shadow(0 0 5px #006DD990)
		drop-shadow(0 0 7px #006DD980)
		drop-shadow(0 0 10px #006DD970)
		drop-shadow(0 0 20px #006DD970)
		drop-shadow(0 0 30px #006DD980);
	transition: all 0.2s;
}

h1 {
	color: #EDEEF5;
	font: 700 2.5rem/2.875rem "Montserrat", sans-serif;
	filter:
		drop-shadow(0 0 3px #006DD9)
		drop-shadow(0 0 5px #006DD990)
		drop-shadow(0 0 7px #006DD980)
		drop-shadow(0 0 10px #006DD970)
		drop-shadow(0 0 20px #006DD970)
		drop-shadow(0 0 30px #006DD980)
		drop-shadow(0 0 40px #006DD980);
}

h2 {
	color: #EDEEF5;
	font: 700 2.25rem/2.75rem "Montserrat", sans-serif;
	filter:
		drop-shadow(0 0 3px #006DD9)
		drop-shadow(0 0 5px #006DD990)
		drop-shadow(0 0 7px #006DD980)
		drop-shadow(0 0 10px #006DD970)
		drop-shadow(0 0 20px #006DD970)
		drop-shadow(0 0 30px #006DD980);
}

h3 {
	color: #EDEEF5;
	font: 700 1.75rem/2.125rem "Montserrat", sans-serif;
	filter:
		drop-shadow(0 0 3px #006DD9)
		drop-shadow(0 0 5px #006DD990)
		drop-shadow(0 0 7px #006DD980)
		drop-shadow(0 0 10px #006DD970)
		drop-shadow(0 0 20px #006DD970)
		drop-shadow(0 0 30px #006DD980);
}

h4 {
	color: #EDEEF5;
	font: 700 1.375rem/1.75rem "Montserrat", sans-serif;
	filter:
		drop-shadow(0 0 3px #006DD9)
		drop-shadow(0 0 5px #006DD990)
		drop-shadow(0 0 7px #006DD980)
		drop-shadow(0 0 10px #006DD970)
		drop-shadow(0 0 20px #006DD970)
		drop-shadow(0 0 30px #006DD980);
}

h5 {
	color: #EDEEF5;
	font: 700 1.125rem/1.625rem "Montserrat", sans-serif;
}

h6 {
	color: #EDEEF5;
	font: 700 1rem/1.5rem "Montserrat", sans-serif;
}

a {
	color: #EDEEF5;
	text-decoration: underline;
}

a:hover {
	color: #EDEEF5;
	text-decoration: underline;
}

a.turquoise {
	color: #008BFF;
	transition: all 0.2s;
}

a.turquoise:hover {
	color: #fff;
	filter:
		drop-shadow(0 0 3px #006DD9)
		drop-shadow(0 0 5px #006DD990)
		drop-shadow(0 0 7px #006DD980)
		drop-shadow(0 0 10px #006DD970)
		drop-shadow(0 0 20px #006DD970)
		drop-shadow(0 0 30px #006DD980)
		drop-shadow(0 0 40px #006DD980);
	transition: all 0.2s;
}

a.white {
	color: #fff;
}

.none_dec {
	color: #EDEEF5;
	text-decoration: none;
	transition: all 0.2s;
}

.none_dec:hover {
	color: #EDEEF5;
	text-decoration: none;
	filter:
		drop-shadow(0 0 3px #006DD9)
		drop-shadow(0 0 5px #006DD990)
		drop-shadow(0 0 7px #006DD980)
		drop-shadow(0 0 10px #006DD970)
		drop-shadow(0 0 20px #006DD970)
		drop-shadow(0 0 30px #006DD980)
		drop-shadow(0 0 40px #006DD980);
	transition: all 0.2s;
}

.testimonial-text {
	font: italic 400 1rem/1.5rem "Open Sans", sans-serif;
}

.testimonial-author {
	font: 700 1rem/1.5rem "Montserrat", sans-serif;
}

.btn-solid-reg {
	display: inline-block;
	padding: 1.1875rem 2.125rem 1.1875rem 2.125rem;
	border: 0.125rem solid #008BFF;
	border-radius: 2rem;
	background-color: #008BFF;
	color: #fff;
	font: 700 0.75rem/0 "Montserrat", sans-serif;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-reg:hover {
	background-color: transparent;
	color: #008BFF;
	text-decoration: none;
}

.btn-solid-lg {
	backdrop-filter:
		blur(5px)
		brightness(75%);
	display: inline-block;
	padding: 1.375rem 2.625rem 1.375rem 2.625rem;
	border-radius: 0.5rem;
	box-shadow: inset 0 0 0 0.125rem #008BFF;
	color: #008BFF;
	font: 700 0.75rem/0 "Montserrat", sans-serif;
	text-decoration: none;
	filter:
		brightness(120%);
	transition: all 0.4s;
}

.btn-solid-lg:hover {
	text-decoration: none;
	background-color: #008BFF;
	filter:
		drop-shadow(0 0 3px #006DD9)
		drop-shadow(0 0 5px #006DD990)
		drop-shadow(0 0 7px #006DD980)
		drop-shadow(0 0 10px #006DD970)
		drop-shadow(0 0 20px #006DD970)
		drop-shadow(0 0 30px #006DD980)
		drop-shadow(0 0 40px #006DD980);
	color: #fff;
	box-shadow: inset 0 0 0 0 #008BFF;
	transition: all 0.4s;
}

.btn-solid-lg .fab {
	margin-right: 0.5rem;
	font-size: 1.25rem;
	line-height: 0;
	vertical-align: top;
}

.btn-solid-lg .fab.fa-google-play {
	font-size: 1rem;
}

.btn-outline-reg {
	display: inline-block;
	padding: 1.1875rem 2.125rem 1.1875rem 2.125rem;
	border: 0.125rem solid #008BFF;
	border-radius: 2rem;
	background-color: transparent;
	color: #008BFF;
	font: 700 0.75rem/0 "Montserrat", sans-serif;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-reg:hover {
	background-color: #008BFF;
	color: #fff;
	text-decoration: none;
	filter:
		drop-shadow(0 0 3px #006DD9)
		drop-shadow(0 0 5px #006DD990)
		drop-shadow(0 0 7px #006DD980)
		drop-shadow(0 0 10px #006DD970)
		drop-shadow(0 0 20px #006DD970)
		drop-shadow(0 0 30px #006DD980);
}

.btn-outline-lg {
	display: inline-block;
	padding: 1.375rem 2.625rem 1.375rem 2.625rem;
	border: 0.125rem solid #008BFF;
	border-radius: 2rem;
	background-color: transparent;
	color: #008BFF;
	font: 700 0.75rem/0 "Montserrat", sans-serif;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-lg:hover {
	background-color: #008BFF;
	color: #fff;
	text-decoration: none;
}

.btn-outline-sm {
	display: inline-block;
	padding: 1rem 1.625rem 0.875rem 1.625rem;
	border: 0.125rem solid #008BFF;
	border-radius: 2rem;
	background-color: transparent;
	color: #008BFF;
	font: 700 0.625rem/0 "Montserrat", sans-serif;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-sm:hover {
	background-color: #008BFF;
	color: #fff;
	text-decoration: none;
}

.form-group {
	position: relative;
	margin-bottom: 1.25rem;
}

.form-group.has-error.has-danger {
	margin-bottom: 0.625rem;
}

.form-group.has-error.has-danger .help-block.with-errors ul {
	margin-top: 0.375rem;
}

.label-control {
	position: absolute;
	top: 0.87rem;
	left: 1.375rem;
	color: #EDEEF5;
	opacity: 1;
	font: 400 0.875rem/1.375rem "Open Sans", sans-serif;
	cursor: text;
	transition: all 0.2s ease;
}

/* IE10+ hack to solve lower label text position compared to the rest of the browsers */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
	.label-control {
		top: 0.9375rem;
	}
}

select {
	/* you should keep these first rules in place to maintain cross-browser behavior */
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	background-image: url('../images/down-arrow.png');
	background-position: 96% 50%;
	background-repeat: no-repeat;
	outline: none;
}

.form-control-submit-button {
	display: inline-block;
	width: 100%;
	height: 3.125rem;
	border: 1px solid #008BFF;
	border-radius: 1.5rem;
	background-color: #008BFF;
	color: #fff;
	font: 700 0.75rem/1.75rem "Montserrat", sans-serif;
	cursor: pointer;
	transition: all 0.2s;
}

.form-control-submit-button:hover {
	background-color: transparent;
	color: #008BFF;
}

/* Form Success And Error Message Formatting */
#cmsgSubmit.h3.text-center.tada.animated,
#pmsgSubmit.h3.text-center.tada.animated,
#cmsgSubmit.h3.text-center,
#pmsgSubmit.h3.text-center {
	display: block;
	margin-bottom: 0;
	color: #EDEEF5;
	font: 400 1.125rem/1rem "Open Sans", sans-serif;
}

.help-block.with-errors .list-unstyled {
	color: #EDEEF5;
	font-size: 0.75rem;
	line-height: 1.125rem;
	text-align: left;
}

.help-block.with-errors ul {
	margin-bottom: 0;
}
/* end of form success and error message formatting */

/* Form Success And Error Message Animation - Animate.css */
@-webkit-keyframes tada {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	10%, 20% {
		-webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		-ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
	}
	30%, 50%, 70%, 90% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		-ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	}
	40%, 60%, 80% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		-ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	}
	to {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@keyframes tada {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	10%, 20% {
		-webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		-ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
	}
	30%, 50%, 70%, 90% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		-ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	}
	40%, 60%, 80% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		-ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	}
	to {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

.tada {
	-webkit-animation-name: tada;
	animation-name: tada;
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
/* end of form success and error message animation - Animate.css */

/* Fade-move Animation For Lightbox - Magnific Popup */
/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	transition: all 0.2s ease-out;
	-webkit-transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
	-ms-transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
	transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: translateY(0) perspective(37.5rem) rotateX(0); 
	-ms-transform: translateY(0) perspective(37.5rem) rotateX(0); 
	transform: translateY(0) perspective(37.5rem) rotateX(0); 
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;
	-webkit-transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
	-ms-transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
	transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
}

/* dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	opacity: 0;
	transition: opacity 0.2s ease-out;
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}
/* end of fade-move animation for lightbox - magnific popup */

/* Fade Animation For Image Slider - Magnific Popup */
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fadeIn {
	-webkit-animation: fadeIn 0.6s;
	animation: fadeIn 0.6s;
}

@-webkit-keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.fadeOut {
	-webkit-animation: fadeOut 0.8s;
	animation: fadeOut 0.8s;
}
/* end of fade animation for image slider - magnific popup */


/*************************/
/*	 02. Preloader	 */
/*************************/
.spinner-wrapper {
	position: fixed;
	z-index: 999999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #212121;
}

.spinner {
	position: absolute;
	top: 50%; /* centers the loading animation vertically one the screen */
	left: 50%; /* centers the loading animation horizontally one the screen */
	width: 3.75rem;
	height: 1.25rem;
	margin: -0.625rem 0 0 -1.875rem; /* is width and height divided by two */ 
	text-align: center;
}

.spinner > div {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	border-radius: 100%;
	background-color: #fff;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0); }
	40% { -webkit-transform: scale(1.0); }
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% { 
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
	} 40% { 
		-webkit-transform: scale(1.0);
		-ms-transform: scale(1.0);
		transform: scale(1.0);
	}
}

/**************************/
/*	 03. Navigation	 */
/**************************/
.navbar-custom {
	background-color: #212121;
	box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
	font: 700 0.75rem/2rem "Montserrat", sans-serif;
	transition: all 0.2s;
}

.navbar-custom .navbar-brand.logo-image img {
	width: 247px;
	height: 56px;
	margin-bottom: 1px;
	margin: 0;
	-webkit-backface-visibility: hidden;
}

.navbar-custom .navbar-brand.logo-text {
	font: 700 2.375rem/1.5rem "Montserrat", sans-serif;
	color: #fff;
	letter-spacing: -0.5px;
	text-decoration: none;
}

.navbar-custom .navbar-nav {
	margin-top: 0.75rem;
}

.navbar-custom .nav-item .nav-link {
	padding: 0 0.75rem 0 0.75rem;
	color: #fff;
	text-decoration: none;
	transition: all 0.2s ease;
}

.navbar-custom .nav-item .nav-link:hover,
.navbar-custom .nav-item .nav-link.active {
	color: #008BFF;
}

/* Dropdown Menu */
.navbar-custom .dropdown:hover > .dropdown-menu {
	display: block; /* this makes the dropdown menu stay open while hovering it */
	min-width: auto;
	animation: fadeDropdown 0.2s; /* required for the fade animation */
}

@keyframes fadeDropdown {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.navbar-custom .dropdown-toggle:focus { /* removes dropdown outline on focus  */
	outline: 0;
}

.navbar-custom .dropdown-menu {
	margin-top: 0;
	border: none;
	border-radius: 0.25rem;
	background-color: #212121;
}

.navbar-custom .dropdown-item {
	color: #fff;
	text-decoration: none;
}

.navbar-custom .dropdown-item:hover {
	background-color: #212121;
}

.navbar-custom .dropdown-item .item-text {
	font: 700 0.75rem/1.5rem "Montserrat", sans-serif;
}

.navbar-custom .dropdown-item:hover .item-text {
	color: #008BFF;
}

.navbar-custom .dropdown-items-divide-hr {
	width: 100%;
	height: 1px;
	margin: 0.25rem auto 0.25rem auto;
	border: none;
	background-color: #b5bcc4;
	opacity: 0.2;
}
/* end of dropdown menu */

.navbar-custom .social-icons {
	display: none;
}

.navbar-custom .navbar-toggler {
	border: none;
	color: #fff;
	font-size: 2rem;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-times{
	display: none;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-bars{
	display: inline-block;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-bars{
	display: none;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-times{
	display: inline-block;
	margin-right: 0.125rem;
}


/*********************/
/*	04. Header	 */
/*********************/
.header {
	background: /*linear-gradient(to bottom left, #006DD9, #006DD9),*/ url('../images/header-background.jpg') center center no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	margin: 0;
}

.header .header-content {
	padding-top: 8.5rem;
	padding-bottom: 7rem;
	text-align: center;
}

.header .text-container {
	margin-bottom: 3rem;
}

.header h1 {
	margin-bottom: 2rem;
}

.header #js-rotating {
	color: #fff;
}

.header .p-large {
	margin-bottom: 2rem;
}

.header .btn-solid-lg {
	margin-right: 0.5rem;
	margin-bottom: 1.25rem;
}


/****************************/
/*	 05. Testimonials	 */
/****************************/
.slider-1 {
	padding-top: 6.875rem;
	padding-bottom: 6.375rem;
	background-color: #212121;
}

.slider-1 .slider-container {
	position: relative;
}

.slider-1 .swiper-container {
	position: static;
	width: 90%;
	text-align: center;
}

.slider-1 .swiper-button-prev:focus,
.slider-1 .swiper-button-next:focus {
	/* even if you can't see it chrome you can see it on mobile device */
	outline: none;
}

.slider-1 .swiper-button-prev {
	left: -0.5rem;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23f1f1f8'%2F%3E%3C%2Fsvg%3E");
	background-size: 1.125rem 1.75rem;
}

.slider-1 .swiper-button-next {
	right: -0.5rem;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23f1f1f8'%2F%3E%3C%2Fsvg%3E");
	background-size: 1.125rem 1.75rem;
}

.slider-1 .card {
	position: relative;
	border: none;
	background-color: transparent;
}

.slider-1 .card-image {
	width: 6rem;
	height: 6rem;
	margin-right: auto;
	margin-bottom: 0.25rem;
	margin-left: auto;
	border-radius: 50%;
}

.slider-1 .card-body {
	padding-bottom: 0;
}

.slider-1 .testimonial-author {
	margin-bottom: 0;
}


/************************/
/*	 05. Features	 */
/************************/
.tabs {
	background-color: #fff;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 0.1rem;
	filter:
		drop-shadow(0 0 5px #006DD9)
		drop-shadow(0 0 10px #006DD990)
		drop-shadow(0 0 15px #006DD980)
		drop-shadow(0 0 20px #006DD980)
		drop-shadow(0 0 30px #006DD980)
		drop-shadow(0 0 40px #006DD980);
}


/*********************/
/*	 07. Video	 */
/*********************/
.basic-1 {
	padding-top: 6.375rem;
	padding-bottom: 6.875rem;
	background: url('../images/video-background.jpg') center center no-repeat;
	background-size: cover;
	width: 100%;
}

.basic-1 h2 {
	margin-bottom: 1.125rem;
	text-align: center;
}

.basic-1 .p-heading {
	margin-bottom: 4rem;
	text-align: center;
}

.basic-1 .image-container img{
	background-image: url("images/video-frame.png");
	background-size: 120%;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	filter:
		brightness(80%);
	border-radius: 2rem;
	transition: all 0.2s;
}

.basic-1 .image-container:hover img {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	filter:
		brightness(110%)
		drop-shadow(0 0 5px #006DD9)
		drop-shadow(0 0 10px #006DD990)
		drop-shadow(0 0 15px #006DD980)
		drop-shadow(0 0 20px #006DD980)
		drop-shadow(0 0 30px #006DD980)
		drop-shadow(0 0 40px #006DD980);
	border-radius: 0.75rem;
	transition: all 0.2s;
}

.basic-1 .video-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	margin: auto;
}

/* Video Play Button */
.basic-1 .video-play-button {
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	display: block;
	box-sizing: content-box;
	width: 2rem;
	height: 2.75rem;
	padding: 1.125rem 1.25rem 1.125rem 1.75rem;
	border-radius: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	transition: all 0.4s;
}

.basic-1 .video-play-button:before {
	content: "";
	position: absolute;
	z-index: 0;
	top: 50%;
	left: 50%;
	display: block;
	width: 4.75rem;
	height: 4.75rem;
	border-radius: 50%;
	/*background: linear-gradient(45deg, #008BFF, #EA2CAA);*/
	background-color: #008BFF;
	animation: pulse-border 1500ms ease-out infinite;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	transition: all 0.4s;
}

.basic-1 .video-play-button:after {
	content: "";
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	display: block;
	width: 4.375rem;
	height: 4.375rem;
	border-radius: 50%;
	/*background: linear-gradient(45deg, #008BFF, #EA2CAA);*/
	background-color: #008BFF;
	transition: all 200ms;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	transition: all 0.4s;
}

.basic-1 .video-play-button:hover {
	background-color: #008BFF;
	filter:
		drop-shadow(0 0 3px #006DD9)
		drop-shadow(0 0 5px #006DD990)
		drop-shadow(0 0 7px #006DD980)
		drop-shadow(0 0 10px #006DD970)
		drop-shadow(0 0 20px #006DD970)
		drop-shadow(0 0 30px #006DD980);
	transition: all 200ms;
}

.basic-1 .video-play-button span {
	position: relative;
	display: block;
	z-index: 3;
	top: 0.375rem;
	left: 0.25rem;
	width: 0;
	height: 0;
	border-left: 1.625rem solid #fff;
	border-top: 1rem solid transparent;
	border-bottom: 1rem solid transparent;
}

@keyframes pulse-border {
	0% {
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
		opacity: 1;
	}
	100% {
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
		opacity: 0;
	}
}
/* end of video play button */  


/*************************/
/*	 09. Details 1	 */
/*************************/
.basic-2 {
	padding-top: 8rem;
	padding-bottom: 3.5rem;
	background-color: #0F0F0F;
	width: 100%;
	height: 50%;
}

.basic-2 img {
	margin-bottom: 3.5rem;
}

.basic-2 h3 {
	margin-bottom: 1.125rem;
}

.basic-2 .btn-solid-reg {
	margin-top: 0.5rem;
}


/*************************/
/*	 10. Details 2	 */
/*************************/
.basic-3 {
	overflow: auto;
	padding-top: 3rem;
	padding-bottom: 3rem;
	background-color: #0F0F0F;
	width: 100%;
}

.basic-3 .text-container {
	/*margin-bottom: 4rem;*/
}

.basic-3 h3 {
	margin-bottom: 1.125rem;
}

.basic-3 .btn-solid-reg {
	margin-top: 0.5rem;
}


/***************************/
/*	 12. Screenshots	 */
/***************************/
.slider-2 {
	padding-top: 6.875rem;
	padding-bottom: 6.875rem;
	background-color: #212121;
}

.slider-2 .slider-container {
	position: relative;
}

.slider-2 .swiper-container {
	position: static;
	width: 90%;
	text-align: center;
}

.slider-2 .swiper-button-prev,
.slider-2 .swiper-button-next {
	top: 50%;
	width: 1.125rem;
}

.slider-2 .swiper-button-prev:focus,
.slider-2 .swiper-button-next:focus {
	/* even if you can't see it chrome you can see it on mobile device */
	outline: none;
}

.slider-2 .swiper-button-prev {
	left: -0.5rem;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
	background-size: 1.125rem 1.75rem;
}

.slider-2 .swiper-button-next {
	right: -0.5rem;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
	background-size: 1.125rem 1.75rem;
}


/************************/
/*	 13. Download	 */
/************************/
.basic-4 {
	padding-top: 6.5rem;
	padding-bottom: 6.5rem;
	margin: 0;
	background-image: url('../images/download-background.jpg');
	background-repeat: none;
	background-position: center;
	background-size: cover;
}

.basic-4 .text-container {
	margin-bottom: 3.5rem;
	text-align: center;
}

.basic-4 h2 {
	margin-bottom: 1.25rem;
}

.basic-4 .p-large {
	margin-bottom: 1.75rem;
}

.basic-4 .btn-solid-lg {
	margin-right: 0.5rem;
	margin-bottom: 1.25rem;
}


/**************************/
/*	 18. Statistics	 */
/**************************/
.counter {
	padding-top: 6.5rem;
	padding-bottom: 5.375rem;
	background-color: #0F0F0F;
	text-align: center;
}

.counter #counter .cell {
	display: inline-block;
	width: 6.25rem;
	margin-right: 1rem;
	margin-left: 1rem;
	margin-bottom: 2rem;
}

.counter #counter .counter-value {
	color: #EDEEF5;
	font: 700 3.5rem/4.25rem "Montserrat", sans-serif;	
	vertical-align: middle;
}

.counter #counter .counter-info {
	margin-bottom: 0;
	color: #008BFF;
	font: 400 0.875rem/1.25rem "Open Sans", sans-serif;
	vertical-align: middle;
}


/***********************/
/*	 16. Contact	 */
/***********************/
.form {
	padding-top: 6.25rem;
	padding-bottom: 5.625rem;
	background: url('../images/contact-background.jpg') center bottom no-repeat;
	background-size: cover;
}

.form h2 {
	margin-bottom: 1.125rem;
	text-align: center;
}

.form .list-unstyled {
	margin-bottom: 3.75rem;
	font-size: 1rem;
	line-height: 1.5rem;
	text-align: center;
}

.form .list-unstyled .fas,
.form .list-unstyled .fab {
	margin-right: 0.5rem;
	font-size: 0.875rem;
	color: #008BFF;
}

.form .list-unstyled .fa-phone {
	vertical-align: 3%;
}


/**********************/
/*	 16. Footer	 */
/**********************/
.footer {
	padding-top: 5rem;
	background-color: #0F0F0F;
}

.footer .footer-col {
	margin-bottom: 2.25rem;
}

.footer h4 {
	margin-bottom: 1rem;
}

.footer .list-unstyled .fas {
	color: #008BFF;
	font-size: 0.5rem;
	line-height: 1.375rem;
}

.footer .list-unstyled .media-body {
	/*margin-left: 0.625rem;*/
}

.footer .fa-stack {
	margin-bottom: 0.75rem;
	margin-right: 0.5rem;
	font-size: 1.5rem;
}

.footer .fa-stack-1x {
	height: 50%;
	width: 50%;
	color: #262431;
	transition: all 0.2s ease;
}

.footer .fa-stack .fa-stack-2x {
	height: 100%;
	width: 100%;
	color: #EDEEF5;
	transition: all 0.2s ease;
}

.footer .fa-stack:hover .fa-stack-1x {
	color: #EDEEF5;
}

.footer .fa-stack:hover .fa-stack-2x {
	color: #008BFF;
}

.fa-stack:hover {
	filter:
		drop-shadow(0 0 3px #006DD9)
		drop-shadow(0 0 5px #006DD990)
		drop-shadow(0 0 7px #006DD980)
		drop-shadow(0 0 10px #006DD970)
		drop-shadow(0 0 20px #006DD970)
		drop-shadow(0 0 30px #006DD980);
	transition: all 0.2s;
}


/*************************/
/*	 17. Copyright	 */
/*************************/
.copyright {
	padding-top: 1rem;
	padding-bottom: 0.5rem;
	background-color: #0F0F0F;
	text-align: center;
}

.copyright .p-small {
	color: #EDEEF5;
	opacity: 0.6;
}


/**********************************/
/*	 18. Back To Top Button	 */
/**********************************/
a.back-to-top {
	position: fixed;
	z-index: 999;
	right: 0.75rem;
	bottom: 0.75rem;
	display: none;
	width: 2.625rem;
	height: 2.625rem;
	border-radius: 1.875rem;
	background: #008BFF url("../images/up-arrow.png") no-repeat center 47%;
	background-size: 1.125rem 1.125rem;
	text-indent: -9999px;
}

a:hover.back-to-top {
	background-color: #008BFF; 
}


/***************************/
/*	 19. Extra Pages	 */
/***************************/
.ex-header {
	padding-top: 8rem;
	padding-bottom: 5rem;
	background: linear-gradient(to bottom right, #0F0F0F, #006DD9);
	text-align: center;
}

.ex-basic-1 {
	padding-top: 2rem;
	padding-bottom: 0.875rem;
	background-color: #0F0F0F;
}

.ex-basic-1 .breadcrumbs {
	margin-bottom: 1.125rem;
}

.ex-basic-1 .breadcrumbs .fa {
	margin-right: 0.5rem;
	margin-left: 0.625rem;
}

.ex-basic-2 {
	padding-top: 4.75rem;
	padding-bottom: 4rem;
	background-color: #212121;
}

.ex-basic-2 h3 {
	margin-bottom: 1rem;
}

.ex-basic-2 .text-container {
	margin-bottom: 3.625rem;
}

.ex-basic-2 .text-container.last {
	margin-bottom: 0;
}

.ex-basic-2 .list-unstyled .fas {
	color: #008BFF;
	font-size: 0.5rem;
	line-height: 1.375rem;
}

.ex-basic-2 .list-unstyled .media-body {
	margin-left: 0.625rem;
}

.ex-basic-2 .btn-outline-reg {
	margin-top: 1.75rem;
}

.ex-basic-2 .image-container-large {
	margin-bottom: 4rem;
}

.ex-basic-2 .image-container-large img {
	border-radius: 0.25rem;
}

.ex-basic-2 .image-container-small img {
	border-radius: 0.25rem;
}

.ex-basic-2 .text-container.dark-bg {
	padding: 1.625rem 1.5rem 0.75rem 2rem;
	background-color: #f9fafc;
}


/*****************************/
/*	 20. Media Queries	 */
/*****************************/	
/* Min-width width 768px */
@media (min-width: 768px) {
	
	/* General Styles */
	.p-heading {
		width: 85%;
		margin-right: auto;
		margin-left: auto;
	}

	h1 {
		font: 700 3.25rem/3.75rem "Montserrat", sans-serif;
	}
	/* end of general styles */


	/* Navigation */
	.navbar-custom {
		padding: 2.125rem 1.5rem 2.125rem 2rem;
		box-shadow: none;
		background: transparent;
	}
	
	.navbar-custom .navbar-brand.logo-text {
		color: #fff;
	}

	.navbar-custom .navbar-nav {
		margin-top: 0;
	}

	.navbar-custom .nav-item .nav-link {
		padding: 0.25rem 0.75rem 0.25rem 0.75rem;
		color: #E8E9F0;
	}
	
	.navbar-custom .nav-item .nav-link:hover,
	.navbar-custom .nav-item .nav-link.active {
		color: #fff;
	}

	.navbar-custom.top-nav-collapse {
		padding: 0.5rem 1.5rem 0.5rem 2rem;
		box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
		background-color: #006DD9;
	}

	.navbar-custom.top-nav-collapse .navbar-brand.logo-text {
		color: #fff;
	}

	.navbar-custom.top-nav-collapse .nav-item .nav-link {
		color: #E8E9F0;
	}
	
	.navbar-custom.top-nav-collapse .nav-item .nav-link:hover,
	.navbar-custom.top-nav-collapse .nav-item .nav-link.active {
		color: #fff;
	}

	.navbar-custom .dropdown-menu {
		box-shadow: 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.03);
	}

	.navbar-custom .dropdown-item {
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
	}

	.navbar-custom .dropdown-items-divide-hr {
		width: 84%;
	}
	/* end of navigation */


	/* Header */
	.header .header-content {
		padding-top: 11rem;
		height: 100%;
		width: 100%;
	}
	/* end of header */


	/* Testimonials */
	.slider-1 .swiper-button-prev {
		left: 1rem;
		width: 1.375rem;
		background-size: 1.375rem 2.125rem;
	}
	
	.slider-1 .swiper-button-next {
		right: 1rem;
		width: 1.375rem;
		background-size: 1.375rem 2.125rem;
	}
	/* end of testimonials */


	/* Details Lightboxes */
	.lightbox-basic {
		padding: 3rem 3rem;
	}
	/* end of details lightboxes */


	/* Screenshots */
	.slider-2 .swiper-button-prev {
		width: 1.375rem;
		background-size: 1.375rem 2.125rem;
	}
	
	.slider-2 .swiper-button-next {
		width: 1.375rem;
		background-size: 1.375rem 2.125rem;
	}
	/* end of screenshots */


	/* Contact */
	.form .list-unstyled li {
		display: inline-block;
		margin-right: 0.5rem;
		margin-left: 0.5rem;
	}

	.form .list-unstyled .address {
		display: block;
	}
	/* end of contact */


	/* Extra Pages */
	.ex-header {
		padding-top: 11rem;
		padding-bottom: 9rem;
	}

	.ex-basic-2 .text-container.dark {
		padding: 2.5rem 3rem 2rem 3rem;
	}

	.ex-basic-2 .text-container.column {
		width: 90%;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of extra pages */
}
/* end of min-width width 768px */


/* Min-width width 992px */
@media (min-width: 992px) {
	
	/* Navigation */
	.navbar-custom .social-icons {
		display: block;
		margin-left: 0.5rem;
	}

	.navbar-custom .fa-stack {
		margin-bottom: 0.1875rem;
		margin-left: 0.375rem;
		font-size: 0.75rem;
	}
	
	.navbar-custom .fa-stack-2x {
		height: 100%;
		width: 100%;
		color: #008BFF;
		transition: all 0.2s ease;
	}
	
	.navbar-custom .fa-stack-1x {
		height: 50%;
		width: 50%;
		color: #fff;
		transition: all 0.2s ease;
	}

	.navbar-custom .fa-stack:hover .fa-stack-2x {
		color: #fff;
	}

	.navbar-custom .fa-stack:hover .fa-stack-1x {
		color: #008BFF;
	}
	/* end of navigation */


	/* General Styles */
	.p-heading {
		width: 65%;
	}
	/* end of general styles */


	/* Header */
	.header .header-content {
		padding-top: 12rem;
		text-align: left;
	}

	.header .text-container {
		margin-top: 7rem;
	}
	/* end of header */


	/* Video */
	.basic-1 .image-container {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	}
	/* end of video */


	/* Details 1 */
	.basic-2 img {
		margin-bottom: 0;
	}

	.basic-2 .text-container {
		margin-top: 2.625rem;
	}
	/* end of details 1 */


	/* Details 2 */
	.basic-3 .text-container {
		/*margin-top: 2.5rem;*/
	}
	/* end of details 2 */


	/* Details Lightboxes */
	.lightbox-basic img {
		margin-bottom: 0;
		margin-left: 0;
	}

	.lightbox-basic h3 {
		margin-top: 0.25rem;
	}
	/* end of details lightboxes */


	/* Screenshots */
	.slider-2 .swiper-container {
		width: 92%;
	}
	/* end of screenshots */


	/* Download */
	.basic-4 {
		/*padding-top: 6.75rem;*/
	}

	.basic-4 .text-container {
		/*margin-top: 7rem;
		margin-bottom: 0;*/
		text-align: center;
	}
	/* end of download */


	/* Statistics */
	.counter {
		padding-top: 6rem;
		padding-bottom: 4.5rem;
	}

	.counter #counter .cell {
		width: 8rem;
		margin-right: 2.5rem;
		margin-left: 2.5rem;
	}
	
	.counter #counter .counter-value {
		font: 700 4.25rem/4.5rem "Montserrat", sans-serif;	
	}
	/* end of statistics */


	/* Extra Pages */
	.ex-header h1 {
		width: 80%;
		margin-right: auto;
		margin-left: auto;
	}

	.ex-basic-2 {
		padding-bottom: 5rem;
	}

	.ex-basic-2 .text-container.column {
		margin-bottom: 0;
	}
	/* end of extra pages */
}
/* end of min-width width 992px */


/* Min-width width 1200px */
@media (min-width: 1200px) {
	
	/* Navigation */
	.navbar-custom {
		padding: 2.125rem 5rem 2.125rem 5rem;
	}

	.navbar-custom.top-nav-collapse {
		padding: 0.5rem 5rem 0.5rem 5rem;
	}
	/* end of navigation */

	
	/* General Styles */
	.p-heading {
		width: 44%;
	}
	/* end of general styles */


	/* Header */
	.header .text-container {
		margin-top: 7.5rem;
		margin-left: 2.5rem;
	}

	.header .image-container {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	}
	/* end of header */


	/* Details 1 */
	.basic-2 .text-container {
		margin-top: 4.5rem;
		margin-left: 4rem;
		margin-right: 1.5rem;
	}
	/* end of details 1 */
	
	
	/* Details 2 */
	.basic-3 .text-container {
		margin-top: 2rem;
		/*margin-right: 3rem;
		margin-left: 3rem;*/
		margin-bottom: 2rem;
	}
	/* end of details 2 */


	/* Download */
	.basic-4 .text-container {
		margin-top: 7rem;
	}

/*	.basic-4 .image-container {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	}*/
	/* end of download */


	/* Footer */
	.footer .footer-col {
		width: 90%;
	}

	.footer .footer-col.middle {
		margin-right: auto;
		margin-left: auto;
	}

	.footer .footer-col.last {
		margin-right: 0;
		margin-left: auto;
	}
	/* end of footer */


	/* Extra Pages */
	.ex-header h1 {
		width: 60%;
		margin-right: auto;
		margin-left: auto;
	}

	.ex-basic-2 .form-container {
		margin-left: 1.75rem;
	}

	.ex-basic-2 .image-container-small {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	}
	/* end of extra pages */

	.basic-3 .row {
		padding: 1rem;
		background-color: #1A1A20;
		border-radius: 1rem;
		height: 100%;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
	}

	.basic-3 .up .col-lg-3 {
		/*margin: auto;*/
		padding: 10%;
	}

	.basic-3 .col-lg-6 {
		/*margin: auto;*/
		/*padding: 10%;*/
		flex: 50%;
	}

	.basic-3 .img-fluid {
		height: 110%;
		max-width: 100%;
		margin: auto;
		padding: 0 1rem 3rem 1rem;
		position: absolute;
		left: 0;
		top: 25%;
		bottom: 25%;
		right: 0;
		background-color: #212127;
		border-radius: 0.75rem;
		/*border: 0px solid #ffffff00;*/
		transition: all 0.2s;
	}

	.basic-3 .img-fluid:hover {
		cursor: pointer;
		/*border: 1px solid #ffffff75;*/
		background-color: #323339;
		filter:
			drop-shadow(0 0 3px #32333950)
			drop-shadow(0 0 7px #32333950)
			drop-shadow(0 0 10px #32333950);
		transition: all 0.2s;
	}

	.basic-3 .img-fluid img {
		max-height: 90%;
		max-width: 90%;
		margin: auto;
		padding: 1rem 1rem 3rem 1rem;
		position: absolute;
		left: 0;
		top: 25%;
		bottom: 25%;
		right: 0;
		pointer-events: none;
	}

	.basic-3 .up .img-txt {
		color: #fff;
		filter:
			drop-shadow(0 0 3px #006DD9)
			drop-shadow(0 0 5px #006DD990)
			drop-shadow(0 0 7px #006DD980)
			drop-shadow(0 0 10px #006DD970)
			drop-shadow(0 0 20px #006DD970)
			drop-shadow(0 0 30px #006DD980)
			drop-shadow(0 0 40px #006DD980);
		text-align: center;
		max-height: 100%;
		max-width: 100%;
		margin: auto;
		position: absolute;
		left: 0;
		top: 85%;
		bottom: 15%;
		right: 0;
		pointer-events: none;
	}

	.footer .fa-square {
		padding: 1.5%;
	}

	.breadcrumbs .brcr {
		margin: 0.5rem;
	}

	.allsocials .fa-stack-1x {
		height: 50%;
		width: 25%;
		padding: 0;
		margin: auto 0.25rem auto 0.25rem;
		top: 0;
		left: 0;

		color: #EDEEF5;
		transition: all 0.2s ease;
	}

	.allsocials .col-lg-3 {
		height: 50px;
		width: 200px;
		padding: 3%;
		margin: 0.5rem;
		display: block;
		background-color: #212127;
		border-radius: 0.75rem;
		/*border: 0px solid #ffffff00;*/
		transition: all 0.2s;
	}

	.allsocials .col-lg-3:hover {
		cursor: pointer;
		/*border: 1px solid #ffffff75;*/
		background-color: #323339;
		filter:
			drop-shadow(0 0 3px #32333950)
			drop-shadow(0 0 7px #32333950)
			drop-shadow(0 0 10px #32333950);
		transition: all 0.2s;
	}

	.allsocials .r_soc-1 {
		margin: 0 auto 0 auto;
		text-align: center;
		height: 100%;
		/*max-width: 20%;*/
		display: block;
	}

	.allsocials .r_soc-2 {
		margin: 0 auto 0 auto;
		text-align: center;
		height: 100%;
		/*max-width: 20%;*/
		display: flex;
		justify-content: center;
		align-items: end;
		flex-wrap: wrap;
		flex-direction: row;
	}

	.allsocials .row {
		display: flex;
		justify-content: end;
		align-items: end;
		flex-wrap: wrap;
		flex-direction: row;
	}

	.allsocials .col-lg-3 .soc-txt {
		color: #fff;
		filter:
			drop-shadow(0 0 3px #006DD9)
			drop-shadow(0 0 5px #006DD990)
			drop-shadow(0 0 7px #006DD980)
			drop-shadow(0 0 10px #006DD970)
			drop-shadow(0 0 20px #006DD970)
			drop-shadow(0 0 30px #006DD980)
			drop-shadow(0 0 40px #006DD980);
		text-align: right;
		padding: 0;
		height: 100%;
		width: 100%;
		margin: auto;
		position: absolute;
		left: -10%;
		top: 35%;
		bottom: top: 15%;
		right: 0;
		pointer-events: none;
	}
}
/* end of min-width width 1200px */