h1, h2, h3, h4, h5, h6
{
	margin: 0;
	color: #fff;
}

.background
{
	position: fixed;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -2;
}

.main-container
{
	width: 100%;
	height: fit-content;
	padding-bottom: 1rem;
}

.main-container .item-group-name
{
	width: fit-content;
	margin: 0 auto 1rem auto;
	font-size: 1.25rem;
}

.title-container
{
	width: fit-content;
	margin: 0 auto 1rem auto;
	padding-top: 1rem;
}

.title
{
	width: fit-content;
	margin: 0;
	color: #fff;
	font-size: 3.5rem;
	position: relative;
	font-style: italic;
}

.title::before
{
	width: fit-content;
	content: 'immorrtalz';
	position: absolute;
	top: 0;
	color: #fff;
	mix-blend-mode: lighten;
	overflow: hidden;
	left: -2px;
	text-shadow: -2px 0 red;
	animation-name: title-glitch-before;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: reverse-alternate;
}

.title::after
{
	width: fit-content;
	content: 'immorrtalz';
	position: absolute;
	top: 0;
	color: #fff;
	mix-blend-mode: lighten;
	overflow: hidden;
	left: 2px;
	text-shadow: 2px 0 blue;
	animation-name: title-glitch-after;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: reverse-alternate;
}

@keyframes title-glitch-before
{
	0%
	{
		clip: rect(99px, 600px, 4px, 0px);
	}
	5%
	{
		clip: rect(14px, 600px, 95px, 0px);
	}
	10%
	{
		clip: rect(12px, 600px, 7px, 0px);
	}
	15%
	{
		clip: rect(134px, 600px, 129px, 0px);
	}
	20%
	{
		clip: rect(1px, 600px, 123px, 0px);
	}
	25%
	{
		clip: rect(66px, 600px, 87px, 0px);
	}
	30%
	{
		clip: rect(106px, 600px, 35px, 0px);
	}
	35%
	{
		clip: rect(27px, 600px, 38px, 0px);
	}
	40%
	{
		clip: rect(32px, 600px, 43px, 0px);
	}
	45%
	{
		clip: rect(62px, 600px, 72px, 0px);
	}
	50%
	{
		clip: rect(22px, 600px, 94px, 0px);
	}
	55%
	{
		clip: rect(54px, 600px, 52px, 0px);
	}
	60%
	{
		clip: rect(129px, 600px, 132px, 0px);
	}
	65%
	{
		clip: rect(68px, 600px, 40px, 0px);
	}
	70%
	{
		clip: rect(95px, 600px, 23px, 0px);
	}
	75%
	{
		clip: rect(125px, 600px, 138px, 0px);
	}
	80%
	{
		clip: rect(103px, 600px, 77px, 0px);
	}
	85%
	{
		clip: rect(98px, 600px, 30px, 0px);
	}
	90%
	{
		clip: rect(88px, 600px, 34px, 0px);
	}
	95%
	{
		clip: rect(7px, 600px, 69px, 0px);
	}
	100%
	{
		clip: rect(68px, 600px, 108px, 0px);
	}
}

@keyframes title-glitch-after
{
	0%
	{
		clip: rect(120px, 600px, 134px, 0px);
	}
	5%
	{
		clip: rect(57px, 600px, 34px, 0px);
	}
	10%
	{
		clip: rect(109px, 600px, 95px, 0px);
	}
	15%
	{
		clip: rect(113px, 600px, 22px, 0px);
	}
	20%
	{
		clip: rect(15px, 600px, 86px, 0px);
	}
	25%
	{
		clip: rect(90px, 600px, 100px, 0px);
	}
	30%
	{
		clip: rect(91px, 600px, 36px, 0px);
	}
	35%
	{
		clip: rect(77px, 600px, 3px, 0px);
	}
	40%
	{
		clip: rect(12px, 600px, 66px, 0px);
	}
	45%
	{
		clip: rect(80px, 600px, 32px, 0px);
	}
	50%
	{
		clip: rect(15px, 600px, 126px, 0px);
	}
	55%
	{
		clip: rect(131px, 600px, 13px, 0px);
	}
	60%
	{
		clip: rect(141px, 600px, 124px, 0px);
	}
	65%
	{
		clip: rect(87px, 600px, 28px, 0px);
	}
	70%
	{
		clip: rect(145px, 600px, 126px, 0px);
	}
	75%
	{
		clip: rect(59px, 600px, 142px, 0px);
	}
	80%
	{
		clip: rect(63px, 600px, 125px, 0px);
	}
	85%
	{
		clip: rect(1px, 600px, 109px, 0px);
	}
	90%
	{
		clip: rect(47px, 600px, 112px, 0px);
	}
	95%
	{
		clip: rect(145px, 600px, 30px, 0px);
	}
	100%
	{
		clip: rect(143px, 600px, 39px, 0px);
	}
}

.skills
{
	width: fit-content;
	margin: 0 auto 2rem auto;
	color: #DEDFE6;
}

.item
{
	position: relative;
	width: 25rem;
	height: 4rem;
	margin: 0 auto 1rem auto;
	text-decoration: none;
	color: #EDEEF5;
	white-space: pre;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	border-radius: 0.9rem;
	border: 1px solid var(--clr-lighter);
	backdrop-filter: blur(12px);
	box-shadow: 0 0 3rem var(--clr-shadow-20);
	overflow: hidden;
	box-sizing: border-box;
	/*will-change: transform;*/
}

.item:hover
{
	cursor: pointer;
	color: #fff;
	background-color: var(--clr-lighter);
	box-shadow: 0 0 3rem var(--clr-shadow-20);
	border: 0px solid transparent;
	width: 30rem;
	height: 5rem;
	margin: -0.5rem auto 0.5rem auto;
	border-radius: 2.5rem;
}

.item:hover .item-gradient
{
	filter: opacity(100%);
}

.item:hover .item-icon
{
	transform: scale(1.25);
	will-change: transform;
}

.item:hover .item-text
{
	will-change: transform;
	font-size: 1.25rem;
}

.item:hover .gray
{
	font-size: 1.1rem;
}

.item-icon
{
	pointer-events: none;
	width: 2rem;
	height: 2rem;
	margin: 0 1.5rem;
	border-radius: 1rem;
}

.item-text
{
	pointer-events: none;
	margin: 0;
	font-size: 1.15rem;
}

.item .gray
{
	margin: 0;
	padding: 0;
	color: var(--clr-white-transparent-60);
	font-size: 1rem;
}

.item .item-gradient
{
	pointer-events: none;
	position: absolute;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	filter: opacity(50%);
}

.vk .item-gradient
{
	background: linear-gradient(to right, #0077FF, #0077FF80);
}

.vk .item-icon
{
	box-shadow: 0 0 2rem #0077FF75;
}

.ds .item-gradient
{
	background: linear-gradient(to right, #5865F2, #5865F280);
}

.ds .item-icon
{
	box-shadow: 0 0 2rem #5865F275;
}

.tg .item-gradient
{
	background: linear-gradient(to right, #26A5E4, #26A5E480);
}

.tg .item-icon
{
	box-shadow: 0 0 2rem #26A5E475;
}

.yt .item-gradient
{
	background: linear-gradient(to right, #FF0000, #FF000080);
}

.yt .item-icon
{
	box-shadow: 0 0 2rem #FF000075;
}

.tt .item-gradient
{
	background: linear-gradient(to right, #000000, #00000080);
}

.tt .item-icon
{
	box-shadow: 0 0 2rem #00000075;
}

.project
{
	position: relative;
	width: 25rem;
	height: 15rem;
	margin: 0 auto 1rem auto;
	text-decoration: none;
	color: #EDEEF5;
	white-space: pre;
	display: grid;
	grid-template-rows: 6rem calc(100% - 7rem);
	grid-template-areas:
		"a b"
		". c";
	border-radius: 0.9rem;
	border: 1px solid var(--clr-ligher);
	box-sizing: border-box;
	backdrop-filter: blur(12px);
	box-shadow: 0 0 3rem var(--clr-shadow-20);
	overflow: hidden;
}

.project:hover
{
	cursor: pointer;
	color: #fff;
	box-shadow: 0 0 3rem var(--clr-shadow-20);
	border: 0px solid transparent;
	width: 30rem;
	height: 16rem;
	margin: -0.5rem auto 0.5rem auto;
	border-radius: 3.25rem;
}

.project:hover .project-gradient
{
	filter: opacity(100%);
}

.project:hover .project-icon
{
	transform: scale(1.05);
	will-change: transform;
}

.project:hover .project-name
{
	font-size: 1.35rem;
}

.project-icon
{
	pointer-events: none;
	width: 5rem;
	height: 5rem;
	margin: 1rem;
	grid-area: a;
	border-radius: 2.5rem;
}

.project-name
{
	pointer-events: none;
	width: fit-content;
	height: fit-content;
	margin: 2.75rem 1rem 0 0;
	white-space: pre-line;
	grid-area: b;
	font-size: 1.15rem;
}

.project-info
{
	pointer-events: none;
	margin: 0 1rem 1rem 0;
	white-space: pre-line;
	grid-area: c;
	font-size: 1rem;
	color: var(--clr-white-transparent-60);
}

.project-gradient
{
	pointer-events: none;
	position: absolute;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	filter: opacity(50%);
}

.evermedia-project .project-gradient
{
	background: linear-gradient(to right, #C545FD, #C545FD80);
}

.footer
{
	position: relative;
	width: 100%;
	height: fit-content;
	margin: 0;
	padding: 1rem 0 0 0;
	background-color: var(--clr-dark);
	color: var(--clr-white-transparent-60);
	text-align: center;
}

.footer .container-footer
{
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.footer p
{
	width: fit-content;
	margin: 0 auto 0.5rem auto;
}

.footer .blue
{
	width: fit-content;
	margin: 0 0 1rem 0;
	color: var(--clr-accent);
	text-decoration: none;
	font-weight: 600;
	display: inline-block;
}

.footer .blue:hover
{
	cursor: pointer;
	margin: 0 0 1rem 0;
	color: #fff;
	text-shadow: 0 0 2rem var(--clr-accent);
}

@media (max-width: 668px)
{
	.title
	{
		font-size: 3rem;
	}

	.skills
	{
		font-size: 0.84rem;
		margin: 0 auto 1rem auto;
	}

	.item
	{
		width: 17.5rem;
		height: 4rem;
	}

	.item:hover
	{
		width: 20rem;
		height: 4.5rem;
		margin: -0.25rem auto 0.75rem auto;
		border-radius: 2.25rem;
	}

	.project
	{
		width: 17.5rem;
		height: 15rem;
		grid-template-rows: 5rem calc(100% - 7rem);
	}

	.project:hover
	{
		width: 20rem;
		height: 16rem;
		margin: -0.5rem auto 0.5rem auto;
		border-radius: 2.75rem;
	}

	.project-icon
	{
		width: 3rem;
		height: 3rem;
		border-radius: 1.5rem;
	}

	.project-name
	{
		margin: 2rem 1rem 0 0;
	}

	.project-info
	{
		font-size: 0.9rem;
	}

	.footer p
	{
		font-size: 0.65rem;
	}

	.footer .blue
	{
		font-size: 0.65rem;
	}
}