.profiles-container
{
	width: 400px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
	gap: 20px;
}

.profiles-card
{
	width: 100%;
	height: 4rem;
	padding: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
	gap: 20px;
	transition: all 0.2s, transform 1.5s cubic-bezier(0.1, 1, 0.3, 1);
	will-change: transform;
}

.profiles-card-image
{
	height: 100%;
	object-fit: contain;
	border-radius: calc(25px - 10px);
	filter: brightness(0.75) saturate(0.5);
	font-size: 180%;
}

.profiles-card-image-blur
{
	position: absolute;
	top: 25px;
	left: 10px;
	height: calc(100% - 20px);
	object-fit: contain;
	border-radius: calc(25px - 10px);
	filter: blur(20px) !important;
	opacity: 0;
	color: transparent;
	font-size: 180%;
}

.profiles-card:hover
{
	transform: scale(1.1);
	transition: all 0.2s, transform 0.75s cubic-bezier(0.1, 1, 0.3, 1);
	will-change: transform;
}

.profiles-card:active
{
	transform: scale(0.9);
	transition: all 0.2s, transform 2s cubic-bezier(0.1, 1, 0.3, 1);
	will-change: transform;
}

.profiles-card:hover .profiles-card-image
{
	filter: brightness(1) saturate(1);
}

.profiles-card:hover .profiles-card-text { color: var(--clr-white-tr-75); }
.profiles-card:active .profiles-card-text { color: white; }

.profiles-card:hover .profiles-card-image-blur
{
	opacity: 0.75;
	color: white;
}

.profiles-card-subtext
{
	font-size: inherit;
	color: var(--clr-white-tr-25);
	line-height: inherit;
}

@media (max-width: 425px)
{
	.profiles-container
	{
		width: 350px;
		gap: 10px;
	}
}