* {
	transition: all 0.2s;
}

body {
	font-family: Montserrat;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	color: #fff;
	background-color: #141419;
	transition: all 0.2s;
}

.default-link {
	text-decoration: none;
	color: #DEDFE6;
}

.default-link:hover {
	color: #EDEEF5;
}

.header-link {
	text-decoration: none;
	color: #fff;
}

header {
	width: 100%;
	top: 0;
	background-color: #323339;
	padding: 0.75rem 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

header h1 {
	margin: 1rem;
	display: block;
}

header ul {
	margin-right: 1rem;
}

.nav-item {
	padding: 0.5rem 1rem;
	margin: 0.5rem;
	display: inline;
	background-color: #00000000;
	border-radius: 0.5rem;
}

.nav-item:hover {
	background-color: #5C5D63;
	cursor: pointer;
}

.nav-item:hover a {
	color: #fff;
}

.current {
	background-color: #5C5D6375;
	cursor: pointer;
}

.current a {
	color: #fff;
}

.row-container {
	padding: 1rem;
	margin: 1rem 1rem 1rem 1rem;
	background-color: #2C2C32;
	border-radius: 0.5rem;
}

.row-container h2 {
	margin-left: 1rem;
	text-align: left;
}

.hdown-italic {
	max-width: 50%;
	font-size: 0.9rem;
	font-style: italic;
	color: #CCCCCC;
	display: inline-block;
}

.hdown-normal {
	margin: 0 0 1rem 1rem;
	max-width: 50%;
	font-size: 0.9rem;
	color: #CCCCCC;
	display: inline-block;
}

.left {
	margin: 0 0 0 1rem;
	text-align: left;
	white-space: nowrap;
}

.right {
	margin: 0 1rem 0 0;
	text-align: right;
	float: right;
	white-space: nowrap;
}

.main-container {
	width: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.main-container .container img {
	padding-bottom: 1rem;
	max-width: 30%;
	display: block;
}

.main-container .container p {
	max-width: 70%;
	display: block;
}

.main-container .container {
	flex-basis: 85%;
	height: fit-content;
	padding: 0;
	margin: 0 1rem 1rem 0;
	text-align: right;
	display: block;
	background-color: #2C2C32;
	border-radius: 0.5rem;
}

.main-container-2 {
	width: 60%;
	padding: 0;
	margin: 0 auto 0 auto;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.main-container-2 .container {
	height: fit-content;
	padding: 0;
	margin: 0 0 1rem 0;
	text-align: right;
	display: block;
	background-color: #2C2C32;
	border-radius: 0.5rem;
}

.main-container-2 img {
	margin: 0 1rem 1rem 1rem;
	max-height: 5rem;
}

.main-container-3 {
	width: 100%;
	padding: 0;
	margin: 0 0 1rem 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
}

.main-container-3 .container {
	text-align: left;
	padding: 1rem 0 0 0;
	display: block;
	background-color: #2C2C32;
	border-radius: 0.5rem;
}

.main-container-4 {
	width: 80%;
	padding: 0;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.main-container-4 .container {
	text-align: left;
	padding: 1rem 0 0 0;
	display: block;
	background-color: #2C2C32;
	border-radius: 0.5rem;
}

.container {
	background-color: #2C2C32;
	border-radius: 0.5rem;
}

.menu {
	flex-basis: 15%;
	padding: 0;
	margin: 0 1rem 0 1rem;
	display: flex;
	flex-direction: column;
}

.menu-item {
	padding: 1rem 1rem;
	margin: 0 0 0.75rem 0;
	display: block;
	position: relative;
	background-color: #2C2C32;
	border-radius: 0.5rem;
}

.menu-item:hover {
	cursor: pointer;
	background-color: #3A3B41;
}

.menu-item p {
	margin: 0;
}

.container h3, p {
	margin: 0 1rem 1rem 0;
}

.container h3 {
	margin: 1rem 1rem 2rem 0;
}

.in-cont {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: space-between;
}

.vk-ava {
	padding: 1rem 0 0 1rem;
	margin: 0 1rem 0 0;
	/*flex-basis: 10%;*/
	display: block;
	max-width: fit-content;
	max-height: fit-content;
	align-self: flex-start;
}

.vk-ava img {
	padding: 0 1rem 1rem 0;
	flex-grow: 2;
	max-width: 10rem;
	max-height: 10rem;
}

.vk-profile-header {
	margin: 0;
	/*flex-basis: 90%;*/
	flex-grow: 8;
}

.vk-profile-header h3 {
	margin: 0 0 1rem 1rem;
}

.vk-profile-header .in-cont {
	margin: 0 1rem 0 0;
	justify-content: space-evenly;
}

.vk-profile-header .nav-item {
	margin: 0 0 1rem 0;
	text-align: center;
}

.vk-profile-header .nav-item p {
	margin: 0;
}

.vk-post {
	padding: 1rem 0 0 1rem;
	margin: 0 auto 1rem auto;
	width: 100%;
}

.vk-post p {
	margin: 0 0 1rem 1rem;
}

.vk-post h4 {
	margin: 0 0 1.5rem 1rem;
}

.last {
	padding-bottom: 3rem;
}

.copyright {
	width: 100%;
	position: fixed;
	bottom: 0;
	padding: 1rem 0;
	margin: 0;
	background-color: #0F0F0F;
	font-size: 0.95rem;
	color: #C0C0C0FF;
}

.copyright p {
	text-align: center;
	margin: 0;
}